<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">

            <p-toast></p-toast>

            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">

                        <!-- <button pButton pRipple label="Consultar Estado de Pago" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button> -->

                    </div>
                </ng-template>
                <ng-template pTemplate="right">

                    <!-- <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button> -->

                </ng-template>
            </p-toolbar>


            <p-table #dt [value]="ListEstadoResultado" whidth="100%" [columns]="cols" responsiveLayout="scroll"
                [rows]="10"
                [globalFilterFields]="['id','codigo_estado','fecha_generacion','periodo','zonal','fecha_inicial','fecha_final','estado','observaciones']"
                [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [(selection)]="selectedEstadoResultado" selectionMode="multiple" [rowHover]="true" dataKey="id">

                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Estados de Pago</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id">
                            <div style="width: auto; white-space: nowrap;">
                                Id <p-sortIcon field="id"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="codigo_estado">
                            <div style="width: auto; white-space: nowrap;">
                                codigo_estado <p-sortIcon field="codigo_estado"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="fecha_generacion">
                            <div style="width: auto; white-space: nowrap;">
                                fecha_generacion <p-sortIcon field="fecha_generacion"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="periodo">
                            <div style="width: auto; white-space: nowrap;">
                                periodo <p-sortIcon field="periodo"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="zonal">
                            <div style="width: auto; white-space: nowrap;">
                                zonal <p-sortIcon field="zonal"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="fecha_inicial">
                            <div style="width: auto; white-space: nowrap;">
                                fecha_inicial <p-sortIcon field="fecha_inicial"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="fecha_final">
                            <div style="width: auto; white-space: nowrap;">
                                fecha_final <p-sortIcon field="fecha_final"></p-sortIcon>
                            </div>
                        </th>
                        <!-- <th pSortableColumn="coordinador_pelom">
                            <div style="width: auto; white-space: nowrap;">
                                coordinador_pelom <p-sortIcon field="coordinador_pelom"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="supervisor_cge">
                            <div style="width: auto; white-space: nowrap;">
                                supervisor_cge <p-sortIcon field="supervisor_cge"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="turnos_comprometidos">
                            <div style="width: auto; white-space: nowrap;">
                                turnos_comprometidos <p-sortIcon field="turnos_comprometidos"></p-sortIcon>
                            </div>
                        </th> -->
                        <th>PDF</th>
                        <th>XLSX</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-estadoResultado>
                    <tr>
                        <td>
                            <span class="p-column-title">id</span>
                            {{estadoResultado.id}}
                        </td>
                        <td>
                            <span class="p-column-title">codigo_estado</span>
                            {{estadoResultado.codigo_estado}}
                        </td>

                        <td>
                            <span class="p-column-title">fecha_generacion</span>
                            {{estadoResultado.fecha_generacion | date: 'dd-MM-yyyy'}}
                        </td>

                        <td>
                            <span class="p-column-title">periodo</span>
                            {{estadoResultado.encabezado.periodo }}
                        </td>

                        <td>
                            <span class="p-column-title">zonal</span>
                            {{estadoResultado.encabezado.zonal}}
                        </td>

                        <td>
                            <span class="p-column-title">fecha_inicial</span>
                            {{ estadoResultado.encabezado.fecha_inicial | date: 'dd-MM-yyyy' }}
                        </td>

                        <td>
                            <span class="p-column-title">fecha_final</span>
                            {{ estadoResultado.encabezado.fecha_final | date: 'dd-MM-yyyy' }}
                        </td>

                        <!-- <td>
                            <span class="p-column-title">coordinador_pelom</span>
                            {{estadoResultado.encabezado.coordinador_pelom}}
                        </td>

                        <td>
                            <span class="p-column-title">supervisor_cge</span>
                            {{estadoResultado.encabezado.supervisor_cge}}
                        </td>

                        <td>
                            <span class="p-column-title">turnos_comprometidos</span>
                            {{estadoResultado.encabezado.turnos_comprometidos}}
                        </td> -->


                        <td>
                            <button pButton pRipple icon="pi pi-file-pdf" class="p-button-rounded p-button-info mr-2"
                                (click)="showDialog(estadoResultado)"></button>
                        </td>

                        <td>

                            <button pButton pRipple icon="pi pi-database" class="p-button-rounded p-button-warning"
                                (click)="descargaReporteEstadodePago(estadoResultado)"></button>

                        </td>

                    </tr>
                </ng-template>

            </p-table>
        </div>

        <!-- <p-dialog id="myDialog" [(visible)]="productDialog" [style]="{width: '550px' }"
            [contentStyle]="{ height: '550px' }" header="Consultar Estado de Pago" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">

                <div class="dialog-content">

                    <div class="field">
                        <p-dropdown [options]="clientes" [(ngModel)]="selectedCliente" optionLabel="name"
                            placeholder="Cliente"></p-dropdown>
                    </div>

                    <div class="field">
                        <p-dropdown [options]="zonas" [(ngModel)]="selectedZona" optionLabel="name"
                            placeholder="Zona"></p-dropdown>
                    </div>

                    <div class="field">
                        <p-dropdown [options]="paquetes" [(ngModel)]="selectedPaquete" optionLabel="name"
                            placeholder="Paquete"></p-dropdown>
                    </div>

                    <div class="field">
                        <p-dropdown [options]="meses" [(ngModel)]="selectedMes" optionLabel="name"
                            placeholder="Mes"></p-dropdown>
                    </div>

                    <div class="formgrid grid">
                        <div class="field col">
                            <label for="price">Fecha Inicio</label>
                            <p-calendar [(ngModel)]="FechaInicio" [showIcon]="true"></p-calendar>
                        </div>
                        <div class="field col">
                            <label for="quantity">Fecha Final</label>
                            <p-calendar [(ngModel)]="FechaFinal" [showIcon]="true"></p-calendar>
                        </div>
                    </div>

                </div>

            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Consultar" icon="pi pi-check" class="p-button-text"
                    (click)="saveProduct()"></button>
            </ng-template>

        </p-dialog>

        <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="product">Are you sure you want to delete <b>{{product.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteProductDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected products?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteProductsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog> -->


    </div>
</div>


<p-dialog header="Estado de Pago" [style]="{ width: '90%', height: '90%' }" [(visible)]="display"
    (onHide)="hideDialog()" (onShow)="onDialogShow()">

        <p-toolbar styleClass="mb-4">
            <ng-template pTemplate="left">
            </ng-template>
            <ng-template pTemplate="right">

                <button download="ESTADO_DE_PAGO_SERVICIO_DE_ATENCIÓN_DE_EMERGENCIAS.pdf" 
                    printTitle="Estado de Pago" 
                    styleSheetFile="assets/pdf.css" 
                    printSectionId="pdfContainer"
                    ngxPrint pButton pRipple 
                    label="Generar PDF" 
                    icon="pi pi-file-pdf" 
                    class="p-button-help">
                </button>

            </ng-template>
        </p-toolbar>


    <ng-template pTemplate="content">

        <div class="card">
            <div class="grid">

                <div class="col-fixed" style="width:10%">
                    <div class="box">

                    </div>
                </div>
                <div class="col">
                    <div class="box">

                        <!-- text-xs font-normal -->

                        <div id="pdfContainer" class="card">

                            <div class="grid grid1">
                                <div class="col col1 logo-col">
                                    <img src="assets/layout/images/logo_pelom_new.png">
                                </div>
                                <div class="col col1 date-col">
                                    {{ obtenerFechaActualConDiaYCiudad() }}
                                </div>
                            </div>


                            <div class="titu1">

                                <h5 style="text-align:center;color:black;">
                                    ESTADO DE PAGO SERVICIO DE ATENCIÓN DE EMERGENCIAS
                                </h5>

                            </div>

                            <hr>
                            
                            <div class="grid">
                                <div class="col-fixed" style="width:50px">

                                </div>
                                <div class="col">
                                    <p>
                                      <strong>N° ESTADO DE PAGO::</strong> {{ estadoResultado.codigo_estado }}
                                    </p>
                                    <p>
                                      <strong>COORDINADOR SUPERVISOR PELOM:</strong> {{ estadoResultado.encabezado.coordinador_pelom }}
                                    </p>
                                    <p>
                                      <strong>FECHA INICIAL:</strong> {{ estadoResultado.encabezado.fecha_inicial }}
                                    </p>
                                    <p>
                                      <strong>FECHA FINAL:</strong> {{ estadoResultado.encabezado.fecha_final }}
                                    </p>
                                </div>
                                <div class="col">
                                    <p>
                                      <strong>ZONAL CGE:</strong> {{ estadoResultado.encabezado.zonal }}
                                    </p>
                                    <p>
                                      <strong>SUPERVISOR CGE:</strong> {{ estadoResultado.encabezado.supervisor_cge }}
                                    </p>
                                    <p>
                                      <strong>Turnos comprometido mes:</strong> {{ estadoResultado.encabezado.turnos_comprometidos }}
                                    </p>
                                    <p>
                                      <strong>PERIODO:</strong> {{ estadoResultado.encabezado.periodo }}
                                    </p>
                                </div>
                            </div>

                            <hr>

                            <div class="grid">
                                <div class="col-fixed" style="width:20%">
                                </div>
                                <div class="col">
                                    <table border="1">
                                        <thead>
                                            <tr>
                                                <th style="text-align:center;">LOCALIDAD</th>
                                                <th style="text-align:center;">CARGO FIJO SEMANAL POR BRIGADA</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of CARGOFIJOSEMANALPORBRIGADA">
                                                <td style="text-align:left;padding-left:2%;">{{
                                                    item.localidad }}
                                                </td>
                                                <td style="padding-right:2%;">
                                                    {{ item.valor_cargo | currency:'CLP':'$':'1.0-0' | commaToDot }}
                                                </td>
                                            </tr>
                                        </tbody>
                                        <!-- <tfoot>
                                            <tr>
                                                <td colspan="4"><strong> SUBTOTAL FIJO </strong></td>
                                                <td>{{ this.sumatoriaResumenTurno | currency:'CLP':'$':'1.0-0' |
                                                    commaToDot }}</td>
                                            </tr>
                                        </tfoot> -->
                                    </table>
                                </div>
                                <div class="col-fixed" style="width:20%">
                                </div>
                            </div>


                            <div class="grid">
                                <div class="col-fixed" style="width:12%">
                                </div>
                                <div class="col">

                                    <table border="1">
                                        <thead>

                                            <tr>
                                                <th style="text-align: center;" colspan="4">
                                                    PERMANENCIA: CARGO FIJO SEMANAL POR BRIGADA.
                                                </th>
                                            </tr>

                                            <tr>
                                                <th style="text-align:center;">BRIGADA</th>
                                                <th style="text-align:center;">
                                                    <div style="width: auto; white-space: nowrap;">
                                                        TURNOS
                                                    </div>
                                                </th>
                                                <th style="text-align:center;">VALOR DÍA</th>
                                                <th style="text-align:center;">VALOR TOTAL</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr *ngFor="let item of PERMANENICACARGOFIJOSEMANALPORBRIGADA">
                                                <td style="text-align:left;padding-left:2%;">
                                                    <div style="width: auto; white-space: nowrap;">
                                                        {{ item.brigada }}
                                                    </div>
                                                </td>
                                                <td style="padding-right:2%;">{{ item.turnos }}</td>
                                                <td style="padding-right:2%;">{{ item.valor_dia |
                                                    currency:'CLP':'$':'1.0-0' | commaToDot }}
                                                </td>
                                                <td style="padding-right:2%;">
                                                    {{
                                                    (item.valor_mes !== null ? item.valor_mes : '0') |
                                                    currency:'CLP':'$':'1.0-0' |
                                                    commaToDot
                                                    }}
                                                </td>
                                            </tr>

                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="3" style="padding-right:2%;" > <strong> SUB TOTAL </strong></td>
                                                <td style="padding-right:2%;" >{{ PERMANENICACARGOFIJOSEMANALPORBRIGADA_TOTAL |
                                                    currency:'CLP':'$':'1.0-0' | commaToDot }}</td>
                                            </tr>
                                        </tfoot>
                                    </table>

                                </div>
                                <div class="col-fixed" style="width:12%">
                                </div>
                            </div>


                            <div class="grid">
                                <div class="col-fixed" style="width:12%">
                                </div>
                                <div class="col">
                                    <table border="1">
                                        <thead>
                                            <tr>
                                                <th style="text-align:center;">OBSERVACIONES</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of OBSERVACIONES">
                                                <td style="text-align:left;padding-left:2%;">{{ item.detalle }}</td>
                                            </tr>
                                        </tbody>
                                        <!-- <tfoot>
                                            <tr>
                                                <td colspan="4"><strong> SUBTOTAL FIJO </strong></td>
                                                <td>{{ this.sumatoriaResumenTurno | currency:'CLP':'$':'1.0-0' |
                                                    commaToDot }}</td>
                                            </tr>
                                        </tfoot> -->
                                    </table>
                                </div>
                                <div class="col-fixed" style="width:12%">
                                </div>
                            </div>


                            <div class="grid">
                                <div class="col-fixed" style="width:12%">
                                </div>
                                <div class="col">

                                    <table border="1">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;" colspan="4">
                                                    HORAS EXTRAS
                                                </th>
                                            </tr>
                                            <tr>
                                                <th style="text-align:center;">BRIGADA</th>
                                                <th style="text-align:center;">CANTIDAD HORAS</th>
                                                <th style="text-align:center;">VALOR BASE HH</th>
                                                <th style="text-align:center;">TOTAL</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr *ngFor="let item of HORASEXTRAS">
                                                <td style="text-align:left;padding-left:2%;">{{ item.brigada }}</td>
                                                <td style="padding-right:2%;">{{ item.horas }}</td>
                                                <td style="padding-right:2%;">{{ item.valor_base |
                                                    currency:'CLP':'$':'1.0-0' | commaToDot }}
                                                </td>

                                                <td style="padding-right:2%;">
                                                    {{
                                                    (item.valor_total !== null ? item.valor_total : '0') |
                                                    currency:'CLP':'$':'1.0-0' |
                                                    commaToDot
                                                    }}
                                                </td>


                                            </tr>

                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="3" style="padding-right:2%;" > <strong> SUB TOTAL </strong></td>
                                                <td style="padding-right:2%;" >{{ HORASEXTRAS_TOTAL | currency:'CLP':'$':'1.0-0' | commaToDot
                                                    }}</td>
                                            </tr>
                                        </tfoot>
                                    </table>

                                </div>
                                <div class="col-fixed" style="width:12%">
                                </div>
                            </div>


                            <div class="grid">
                                <div class="col-fixed" style="width:12%">
                                </div>
                                <div class="col">

                                    <table border="1">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;" colspan="4">
                                                    TURNOS ADICIONALES
                                                </th>
                                            </tr>
                                            <tr>
                                                <th style="text-align:center;">BRIGADA</th>
                                                <th style="text-align:center;">TURNOS PRESENTADOS</th>
                                                <th style="text-align:center;">VALOR DÍA</th>
                                                <th style="text-align:center;">VALOR TOTAL</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr *ngFor="let item of TURNOSADICIONALES">
                                                <td style="text-align:left;padding-left:2%;">{{ item.brigada }}</td>
                                                <td style="padding-right:2%;">{{ item.turnos }}</td>
                                                <td style="padding-right:2%;">{{ item.valor_dia |
                                                    currency:'CLP':'$':'1.0-0' | commaToDot }}
                                                </td>

                                                <td style="padding-right:2%;">
                                                    {{
                                                    (item.valor_mes !== null ? item.valor_mes : '0') |
                                                    currency:'CLP':'$':'1.0-0' |
                                                    commaToDot
                                                    }}
                                                </td>


                                            </tr>

                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="3" style="padding-right:2%;" > <strong> SUB TOTAL </strong></td>
                                                <td style="padding-right:2%;" >{{ TURNOSADICIONALES_TOTAL | currency:'CLP':'$':'1.0-0' |
                                                    commaToDot }}</td>
                                            </tr>
                                        </tfoot>
                                    </table>

                                </div>
                                <div class="col-fixed" style="width:12%">
                                </div>
                            </div>


                            <div class="grid">
                                <div class="col-fixed" style="width:12%">
                                </div>
                                <div class="col">

                                    <table border="1">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;" colspan="4">
                                                    TURNOS CONTINGENCIA
                                                </th>
                                            </tr>
                                            <tr>
                                                <th style="text-align:center;">BRIGADA</th>
                                                <th style="text-align:center;">TURNOS PRESENTADOS</th>
                                                <th style="text-align:center;">VALOR DÍA</th>
                                                <th style="text-align:center;">VALOR TOTAL</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr *ngFor="let item of TURNOSCONTINGENCIA">
                                                <td style="text-align:left;padding-left:2%;">{{ item.brigada }}</td>
                                                <td style="padding-right:2%;">{{ item.turnos }}</td>
                                                <td style="padding-right:2%;">{{ item.valor_dia |
                                                    currency:'CLP':'$':'1.0-0' | commaToDot }}
                                                </td>

                                                <td style="padding-right:2%;">
                                                    {{
                                                    (item.valor_mes !== null ? item.valor_mes : '0') |
                                                    currency:'CLP':'$':'1.0-0' |
                                                    commaToDot
                                                    }}
                                                </td>


                                            </tr>

                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="3" style="padding-right:2%;" > <strong> SUB TOTAL </strong></td>
                                                <td style="padding-right:2%;" >{{ TURNOSCONTINGENCIA_TOTAL | currency:'CLP':'$':'1.0-0' |
                                                    commaToDot }}</td>
                                            </tr>
                                        </tfoot>
                                    </table>

                                </div>
                                <div class="col-fixed" style="width:12%">
                                </div>
                            </div>


                            <div class="grid">
                                <div class="col-fixed" style="width:12%;break-after:page;">
                                </div>
                                <div class="col">

                                    <table border="1">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;" colspan="5">
                                                    PRODUCCIÓN PxQ
                                                </th>
                                            </tr>
                                            <tr>
                                                <th style="text-align:center;">BRIGADA</th>

                                                <th style="text-align:center;">TIPO DE EVENTO</th>

                                                <th style="text-align:center;">CANTIDAD </th>

                                                <th style="text-align:center;">VALOR UNIDAD</th>

                                                <th style="text-align:center;">VALOR TOTAL</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr *ngFor="let item of PRODUCCIONPxQ">

                                                <td style="text-align:left;padding-left:2%;">{{ item.zonal }}</td>

                                                <td class="text-xs" style="text-align:left;padding-left:2%;">
                                                    {{ convertirAFormatoTitulo(item.tipo_evento) }}
                                                </td>

                                                <td style="padding-right:2%;">
                                                    {{ item.cantidad }}
                                                </td>

                                                <td style="padding-right:2%;">
                                                    {{
                                                    (item.valor_unitario !== null ? item.valor_unitario : '0') |
                                                    currency:'CLP':'$':'1.0-0' |
                                                    commaToDot
                                                    }}
                                                </td>

                                                <td style="padding-right:2%;">
                                                    {{
                                                    (item.valor_total !== null ? item.valor_total : '0') |
                                                    currency:'CLP':'$':'1.0-0' |
                                                    commaToDot
                                                    }}
                                                </td>

                                            </tr>

                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="4" style="padding-right:2%;" > <strong> SUB TOTAL </strong></td>
                                                <td style="padding-right:2%;" >{{ PRODUCCIONPxQ_TOTAL | currency:'CLP':'$':'1.0-0' |
                                                    commaToDot }}</td>
                                            </tr>
                                        </tfoot>
                                    </table>

                                </div>
                                <div class="col-fixed" style="width:12%">
                                </div>
                            </div>


                            <div class="grid">
                                <div class="col-fixed" style="width:12%;">
                                </div>
                                <div class="col">

                                    <table border="1">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;" colspan="4">
                                                    COBROS ADICIONALES
                                                </th>
                                            </tr>
                                            <tr>
                                                <th style="text-align:center;">DETALLE</th>
                                                <th style="text-align:center;">Q</th>
                                                <th style="text-align:center;">TOTAL</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr *ngFor="let item of COBROSADICIONALES">
                                                <td style="text-align:left;padding-left:2%;">{{ item.detalle }}</td>
                                                <td style="padding-right:2%;">{{ item.cantidad }}</td>
                                                <td style="padding-right:2%;">
                                                    {{
                                                    (item.valor !== null ? item.valor : '0') |
                                                    currency:'CLP':'$':'1.0-0' |
                                                    commaToDot
                                                    }}
                                                </td>
                                            </tr>

                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="2" style="padding-right:2%;" > <strong> SUB TOTAL </strong></td>
                                                <td style="padding-right:2%;" >{{ COBROSADICIONALES_TOTAL | currency:'CLP':'$':'1.0-0' |
                                                    commaToDot }}</td>
                                            </tr>
                                        </tfoot>
                                    </table>

                                </div>
                                <div class="col-fixed" style="width:12%">
                                </div>
                            </div>


                            <div class="grid">
                                <div class="col-fixed" style="width:12%">
                                </div>
                                <div class="col">

                                    <table border="1">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;" colspan="4">
                                                    DESCUENTOS
                                                </th>
                                            </tr>
                                            <tr>
                                                <th style="text-align:center;">DETALLE</th>
                                                <th style="text-align:center;">Q</th>
                                                <th style="text-align:center;">TOTAL</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr *ngFor="let item of DESCUENTOS">
                                                <td style="text-align:left;padding-left:2%;">{{ item.detalle }}</td>
                                                <td style="padding-right:2%;">{{ item.cantidad }}</td>
                                                <td style="padding-right:2%;">
                                                    {{
                                                    (item.valor !== null ? item.valor : '0') |
                                                    currency:'CLP':'$':'1.0-0' |
                                                    commaToDot
                                                    }}
                                                </td>
                                            </tr>

                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="2" style="padding-right:2%;" > <strong> SUB TOTAL </strong></td>
                                                <td style="padding-right:2%;" >{{ DESCUENTOS_TOTAL | currency:'CLP':'$':'1.0-0' |
                                                    commaToDot }}</td>
                                            </tr>
                                        </tfoot>
                                    </table>

                                </div>
                                <div class="col-fixed" style="width:12%">
                                </div>
                            </div>


                            <div class="grid content">
                                <div class="col-fixed" style="width:25%">
                                </div>
                                <div class="col">

                                    <table border="1">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;" colspan="4">
                                                    RESUMEN
                                                </th>
                                            </tr>
                                            <tr>
                                                <th style="text-align:center;">ITEM</th>
                                                <th style="text-align:center;">VALOR</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr *ngFor="let item of RESUMEN.detalle">
                                                <td style="text-align:left;padding-left:2%;margin-right:15%;">{{
                                                    item.item }}</td>
                                                <td style="padding-right:2%;">
                                                    {{
                                                    (item.valor !== null ? item.valor : '0') |
                                                    currency:'CLP':'$':'1.0-0' |
                                                    commaToDot
                                                    }}
                                                </td>
                                            </tr>

                                        </tbody>
                                        <tfoot>
                                            <!-- <tr>
                                                <td colspan="3"> <strong> SUB TOTAL VARIABLE </strong></td>
                                                <td>{{ this.sumatoriaResumenEvento | currency:'CLP':'$':'1.0-0' |
                                                    commaToDot }}</td>
                                            </tr> -->
                                        </tfoot>
                                    </table>

                                </div>
                                <div class="col-fixed" style="width:25%">
                                </div>
                            </div>


                            <!-- Al final del contenido del informe -->
                            <div class="footer">
                                <hr>
                                <br>
                                <p>Nombre: _______________________</p>
                                <p>R.U.N: _______________________</p>
                                <p>Firma: _______________________</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-fixed" style="width:10%">
                    <div class="box">

                    </div>
                </div>
            </div>
        </div>

    </ng-template>

</p-dialog>