:host ::ng-deep .p-dialog .product-image {
    width: 150px;
    margin: 0 auto 2rem auto;
    display: block;
}

.custom-spacing {
    margin-bottom: 25px; /* Ajusta el valor según la separación deseada */
  }
