<p-card header="Reportes diarios por la Obra ID : {{obra?.codigo_obra}} ">

    <div class="card">
        <p-toast></p-toast>


        <p-toolbar styleClass="mb-4 gap-2">

            <ng-template pTemplate="left">

                <button pButton pRipple (click)="goBack()" label="Volver" icon="pi pi-arrow-left"
                    class="p-button-danger mr-2"></button>

            </ng-template>

            <ng-template pTemplate="right">

                <!-- <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2"
                    (click)="openNew()"></button> -->

                <button pButton pRipple label="Ver ( E.D.P.-PRELIMINAR )" icon="pi pi-eye" class="p-button-success mr-2"
                    (click)="enviarDatos()"></button>

                <!-- (click)="openNewEstadodePago(obra)" -->

                <!-- <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button> -->

            </ng-template>
        </p-toolbar>


        <p-table #dt [value]="listaReportesDiarios" selectionMode="single" [columns]="cols" [rows]="10"
            [paginator]="true" styleClass="p-datatable-gridlines p-datatable-striped p-datatable-header"
            [globalFilterFields]="['id', 'id_obra', 'fecha_reporte', 'jefe_faena','sdi']"
            [tableStyle]="{ 'min-width': '75rem' }" [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true">

            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                    <h4 class="m-0">Listado de reportes diarios</h4>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                            placeholder="Search..." />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="id" style="min-width:10rem">
                        Id Reporte
                        <p-sortIcon field="id"></p-sortIcon>
                    </th>

                    <th pSortableColumn="codigo_obra" style="min-width:10rem">
                        Codigo Obra
                        <p-sortIcon field="codigo_obra"></p-sortIcon>
                    </th>

                    <th pSortableColumn="fecha_reporte">
                        Fecha Reporte
                        <p-sortIcon field="fecha_reporte"></p-sortIcon>
                    </th>

                    <th pSortableColumn="jefe_faena" style="min-width:10rem">
                        Jefe Faena
                        <p-sortIcon field="jefe_faena"></p-sortIcon>
                    </th>

                    <th pSortableColumn="sdi" style="min-width:10rem">
                        SDI
                        <p-sortIcon field="sdi"></p-sortIcon>
                    </th>

                    <th pSortableColumn="codigo_pelom" style="min-width:10rem">
                        Codigo Pelom
                        <p-sortIcon field="codigo_pelom"></p-sortIcon>
                    </th>

                    <th>View</th>
                    <th>Selecionar</th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-reportediario>

                <tr [pSelectableRow]="reportediario">

                    <td>{{ reportediario.id }}</td>
                    <td>{{ reportediario.id_obra.codigo_obra }}</td>
                    <td>{{ reportediario.fecha_reporte }}</td>
                    <td>{{ reportediario.jefe_faena ? reportediario.jefe_faena.nombre : null }}</td>
                    <td>{{ reportediario.sdi }}</td>

                    <td>{{ reportediario.codigo_pelom }}</td>

                    <td style="text-align:center;">
                        <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-help mr-2"
                            (click)="verReporteDiario(reportediario)"></button>
                    </td>

                    <td style="text-align:center;">
                        <p-checkbox *ngIf="reportediario.id_estado_pago == null"  [binary]="true" [inputId]="reportediario.id.toString()" [(ngModel)]="reportediario.seleccionado" [checked]="reportediario.seleccionado" ></p-checkbox>
                    </td>

                </tr>

            </ng-template>
            <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">In total there are {{
                    listaReportesDiarios?listaReportesDiarios.length : 0 }} Reportes Diarios.</div>
            </ng-template>
        </p-table>

    </div>


    <p-dialog [(visible)]="productDialog" [style]="{ width: '1550px', height: '850px' }"
        (onHide)="onCloseProductDialog()" header="Reporte de Actividades Diarias" [modal]="true" styleClass="p-fluid">

        <ng-template pTemplate="content">


            <form [formGroup]="ReporteDiarioForm">

                <p-tabView>

                    <p-tabPanel header="Datos Principales">

                        <input type="hidden" pInputhidden id="id" class="form-control" formControlName="id">

                        <div class="card" style="height:520px; padding-top: 65px;">

                            <div class="grid">

                                <div class="col-3">
                                    <div class="form-group p-field custom-spacing">
                                        <div class="calendar-container">
                                            <span class="p-float-label">
                                                <p-calendar id="fecha_reporte_diario" formControlName="fecha_reporte"
                                                    class="form-control" dateFormat="dd-mm-yy"
                                                    [showIcon]="true"></p-calendar>
                                                <label htmlFor="fecha_reporte_diario">Fecha Reporte Diario</label>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="form-group p-field custom-spacing">
                                        <span class="p-float-label">

                                            <input type="hidden" pInputhidden id="id_obra" class="form-control"
                                                formControlName="id_obra">
                                            <input id="nombre_proyecto" formControlName="nombre_proyecto" readonly
                                                type="text" pInputText>
                                            <label for="nombre_proyecto">Nombre Proyecto</label>

                                        </span>
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="form-group p-field custom-spacing">
                                        <span class="p-float-label">
                                            <input id="sdi" formControlName="sdi" type="text" pInputText>
                                            <label for="sdi">SDI</label>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="form-group p-field custom-spacing">
                                        <span class="p-float-label">
                                            <input id="alimentador" type="text" formControlName="alimentador"
                                                pInputText>
                                            <label for="alimentador">Alimentador</label>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="form-group p-field custom-spacing">
                                        <span class="p-float-label">
                                            <input id="num_documento" formControlName="num_documento" type="text"
                                                pInputText>
                                            <label for="num_documento">N° Documento</label>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="form-group p-field custom-spacing">
                                        <span class="p-float-label">
                                            <p-dropdown id="brigada" formControlName="brigada" class="form-control"
                                                [options]="listaBrigadas" optionLabel="descripcion"
                                                placeholder="Seleccionar"></p-dropdown>
                                            <label htmlFor="brigada">Brigada</label>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="form-group p-field custom-spacing">
                                        <span class="p-float-label">
                                            <p-dropdown id="jefe_faena" formControlName="jefe_faena"
                                                class="form-control" [options]="listaJefesfaena" optionLabel="nombre"
                                                placeholder="Seleccionar"></p-dropdown>
                                            <label htmlFor="jefe_faena">Jefe de Faena</label>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="form-group p-field custom-spacing">
                                        <p-inputGroup>
                                            <input id="flexiapp" style="width:90%;" formControlName="flexiapp"
                                                placeholder="FlexiApp" type="text" pInputText>
                                            <button type="button" pButton icon="pi pi-plus"
                                                (click)="openFormAddFlexiApp()" class="p-button-primary"></button>
                                        </p-inputGroup>
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="form-group p-field custom-spacing">
                                        <span class="p-float-label">
                                            <p-dropdown id="recargo_hora" formControlName="recargo_hora"
                                                class="form-control" [options]="listarecargoshora" optionLabel="nombre"
                                                placeholder="Seleccionar"></p-dropdown>
                                            <label htmlFor="recargo_hora">Recargos Hora</label>
                                        </span>
                                    </div>
                                </div>

                            </div>

                            <hr>
                            <br>

                            <div class="grid">

                                <div class="col-3" style="margin-top:4px;">
                                    <div class="form-group p-field custom-spacing">
                                        <span class="p-float-label">
                                            <p-calendar id="fecha_hora_salida_base" formControlName="hora_salida_base"
                                                class="form-control" dateFormat="dd-mm-yy" [showIcon]="true"
                                                [showTime]="true"></p-calendar>
                                            <label htmlFor="fecha_hora_salida_base">Hora Salida Base</label>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-3" style="margin-top:4px;">
                                    <div class="form-group p-field custom-spacing">
                                        <span class="p-float-label">
                                            <p-calendar id="fecha_hora_llegada_terreno"
                                                formControlName="hora_llegada_terreno" class="form-control"
                                                dateFormat="dd-mm-yy" [showIcon]="true" [showTime]="true"></p-calendar>
                                            <label htmlFor="fecha_hora_llegada_terreno">Hora Llegada a terreno</label>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-3" style="margin-top:4px;">
                                    <div class="form-group p-field custom-spacing">
                                        <span class="p-float-label">
                                            <p-calendar id="fecha_hora_salida_terreno"
                                                formControlName="hora_salida_terreno" class="form-control"
                                                dateFormat="dd-mm-yy" [showIcon]="true" [showTime]="true"></p-calendar>
                                            <label htmlFor="fecha_hora_salida_terreno">Hora Salida desde Terreno</label>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-3" style="margin-top:4px;">
                                    <div class="form-group p-field custom-spacing">
                                        <span class="p-float-label">
                                            <p-calendar id="fecha_hora_llegada_base" formControlName="hora_llegada_base"
                                                class="form-control" dateFormat="dd-mm-yy" [showIcon]="true"
                                                [showTime]="true"></p-calendar>
                                            <label htmlFor="fecha_hora_llegada_base">Hora Llegada Base</label>
                                        </span>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </p-tabPanel>

                    <p-tabPanel header="Actividades">

                        <div class="card">

                            <p-toolbar styleClass="mb-4 gap-2">

                                <ng-template pTemplate="left">

                                    <button pButton pRipple label="Agregar Actividad" icon="pi pi-plus"
                                        *ngIf="nomostrar" class="p-button-success mr-2"
                                        (click)="openNewActividades()"></button>

                                </ng-template>

                                <ng-template pTemplate="right">

                                </ng-template>
                            </p-toolbar>


                            <p-table #dt1 [value]="listaTablaActividades" [columns]="colslistaTablaActividades"
                                [rows]="4" [paginator]="true" [globalFilterFields]="" responsiveLayout="scroll"
                                [rowHover]="true" [totalRecords]="listaTablaActividades.length" dataKey="id"
                                [tableStyle]="{ 'min-width': '75rem' }"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                [showCurrentPageReport]="true">

                                <ng-template pTemplate="caption">

                                    <div class="flex justify-content-between flex-wrap">
                                        <div>
                                            <h5 class="m-0">Listado de Actividades</h5>
                                        </div>

                                        <div>
                                            <span class="p-input-icon-left">
                                                <i class="pi pi-search"></i>
                                                <input pInputText type="text"
                                                    (input)="dt.filterGlobal($event.target.value, 'contains')"
                                                    placeholder="Search..." />
                                            </span>
                                        </div>
                                    </div>

                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>

                                        <th style="min-width:10rem"> Clase </th>

                                        <th style="min-width:10rem"> Tipo </th>

                                        <th>
                                            <div style="width:5%; white-space:nowrap;">
                                                Actividad
                                            </div>
                                        </th>

                                        <th style="min-width:10rem"> Unidad </th>

                                        <th style="min-width:10rem"> Cantidad </th>

                                        <th style="min-width:10rem"> Unitario </th>

                                        <th style="min-width:10rem"> Total </th>

                                        <th></th>
                                        <th></th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-Actividad>
                                    <tr>
                                        <td>{{ Actividad.tipoOperacion.nombre }}</td>
                                        <td>{{ Actividad.tipoActividad.descripcion }}</td>
                                        <td>{{ Actividad.maestroActividad.actividad }}</td>
                                        <td>{{ Actividad.maestroActividad.unidad.nombre }}</td>
                                        <td>{{ Actividad.cantidad }}</td>
                                        <td>{{ Actividad.ucUnitaria }}</td>
                                        <td>{{ Actividad.ucTotal }}</td>
                                        <td>
                                            <button pButton pRipple icon="pi pi-pencil" *ngIf="nomostrar"
                                                class="p-button-rounded p-button-success mr-2"
                                                (click)="openEditActividad(Actividad)"></button>
                                        </td>
                                        <td>
                                            <button pButton pRipple icon="pi pi-trash" *ngIf="nomostrar"
                                                class="p-button-rounded p-button-warning"
                                                (click)="openDeleteActividad(Actividad)"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="summary">

                                    <div class="flex align-items-center justify-content-between">
                                        Cantidad de actividades registradas : {{
                                        listaTablaActividades?listaTablaActividades.length : 0 }}
                                    </div>

                                </ng-template>
                            </p-table>

                        </div>

                    </p-tabPanel>

                    <p-tabPanel header="Otras Actividades">

                        <div class="card">

                            <p-toolbar styleClass="mb-4 gap-2">

                                <ng-template pTemplate="left">

                                    <button pButton pRipple label="Agregar Otras Actividades" icon="pi pi-plus"
                                        *ngIf="nomostrar" class="p-button-success mr-2"
                                        (click)="openNewOtrasActividades()"></button>

                                </ng-template>

                                <ng-template pTemplate="right">

                                </ng-template>
                            </p-toolbar>


                            <p-table #dt1 [value]="listaTablaOtrasActividades"
                                [columns]="colslistaTablaOtrasActividades" [rows]="4" [paginator]="true"
                                [globalFilterFields]="" responsiveLayout="scroll" [rowHover]="true"
                                [totalRecords]="listaTablaOtrasActividades.length" dataKey="id"
                                [tableStyle]="{ 'min-width': '75rem' }"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                [showCurrentPageReport]="true">

                                <ng-template pTemplate="caption">

                                    <div class="flex justify-content-between flex-wrap">
                                        <div>
                                            <h5 class="m-0">Listado de Otras Actividades</h5>
                                        </div>

                                        <div>
                                            <span class="p-input-icon-left">
                                                <i class="pi pi-search"></i>
                                                <input pInputText type="text"
                                                    (input)="dt.filterGlobal($event.target.value, 'contains')"
                                                    placeholder="Search..." />
                                            </span>
                                        </div>
                                    </div>

                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>

                                        <th style="min-width:10rem"> Glosa </th>
                                        <th style="min-width:10rem"> Uc_unitaria </th>
                                        <th style="min-width:10rem"> Cantidad </th>
                                        <th style="min-width:10rem"> Uc_Total </th>
                                        <th></th>
                                        <th></th>

                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-OtrasActividad>
                                    <tr>
                                        <td>{{ OtrasActividad.glosa }}</td>
                                        <td>{{ OtrasActividad.uc_unitaria }}</td>
                                        <td>{{ OtrasActividad.cantidad }}</td>
                                        <td>{{ OtrasActividad.uc_total }}</td>

                                        <td>
                                            <button pButton pRipple icon="pi pi-pencil" *ngIf="nomostrar"
                                                class="p-button-rounded p-button-success mr-2"
                                                (click)="openEditOtraActividad(OtrasActividad)"></button>
                                        </td>

                                        <td>
                                            <button pButton pRipple icon="pi pi-trash" *ngIf="nomostrar"
                                                class="p-button-rounded p-button-warning"
                                                (click)="openDeleteOtraActividad(OtrasActividad)"></button>
                                        </td>

                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="summary">

                                    <div class="flex align-items-center justify-content-between">
                                        Cantidad de otras actividades registradas : {{
                                        listaTablaOtrasActividades?listaTablaOtrasActividades.length : 0 }}
                                    </div>

                                </ng-template>
                            </p-table>

                        </div>

                    </p-tabPanel>

                </p-tabView>


                <div class="grid" style="margin-top:5%;">
                    <div class="col-3"></div>
                    <div class="col-6">

                        <button *ngIf="mostrarGuardar" pButton pRipple label="Guardar Reporte" type="button"
                            (click)="onGuardarReporteDiarioClick()" visible="false" [loading]="loading"
                            [disabled]="ReporteDiarioForm.invalid"
                            class="p-button-rounded p-button-outlined p-mt-10"></button>

                        <button *ngIf="mostrarActualizar" pButton pRipple label="Actualizar Reporte" type="button"
                            (click)="onActualizarReporteDiarioClick()" [loading]="loading"
                            [disabled]="ReporteDiarioForm.invalid"
                            class="p-button-rounded p-button-success p-button-outlined p-mt-10"></button>

                    </div>
                    <div class="col-3"></div>
                </div>


            </form>


        </ng-template>

        <!-- <ng-template pTemplate="footer">

            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                (click)="hideDialog()"></button>

        </ng-template> -->

    </p-dialog>

    <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>

</p-card>



<p-dialog [(visible)]="actividadesDialog" [style]="{ width:'1400px', height:'600px' }" header="Agregar Actividad"
    (onHide)="onCloseActividadesDialog()" [modal]="true" styleClass="p-fluid">

    <ng-template pTemplate="content">

        <div class="card">

            <form [formGroup]="ActividadForm">

                <div class="grid" style="margin-top:1%;">
                    <div class="col-4">
                        <span class="p-float-label">
                            <p-dropdown formControlName="obj_Tipooperacion" id="tipo_operacion" class="form-control"
                                [options]="listaTipooperacion" optionLabel="nombre"
                                placeholder="Seleccionar"></p-dropdown>
                            <label htmlFor="tipo_operacion">Tipo Operación</label>
                        </span>
                    </div>
                    <div class="col-4">
                        <span class="p-float-label">
                            <p-dropdown formControlName="obj_Tipoactividad" id="tipo_actividad" class="form-control"
                                [options]="listaTipoactividad" optionLabel="descripcion" placeholder="Seleccionar"
                                (onChange)="onTipoActividadSelected($event.value)"></p-dropdown>
                            <label htmlFor="tipo_actividad">Tipo Actividad</label>
                        </span>
                    </div>
                    <div class="col-4">
                        <div class="form-group p-field custom-spacing">
                            <span class="p-float-label">

                                <input type="hidden" pInputhidden id="id" class="form-control" formControlName="id">

                                <input type="number" pInputText id="cantidad" class="form-control"
                                    formControlName="cantidad">
                                <label htmlFor="cantidad">Cantidad</label>

                            </span>
                        </div>
                    </div>
                </div>


                <p-dropdown formControlName="obj_Maestroactividad" [options]="listaMaestroactividad"
                    (onChange)="onActividadSelected($event)" id="Maestroactividad" optionLabel="actividad"
                    [filter]="true" filterBy="actividad" placeholder="Seleccionar Actividad" [showClear]="true">

                    <ng-template pTemplate="selectedItem">
                        <div *ngIf="selectedActividad">
                            <div>
                                <p>{{ selectedActividad.actividad }}</p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template let-actividad pTemplate="item">
                        <div>
                            <div>{{ actividad.actividad }}</div>
                        </div>
                    </ng-template>

                </p-dropdown>

                <div class="grid" style="margin-top:5%;">
                    <div class="col-3"></div>
                    <div class="col-6">

                        <button *ngIf="mostrarGuardarActividad" pButton pRipple label="Guardar Actividad" type="button"
                            (click)="onGuardarActividadClick()" visible="false" [loading]="loadingActividad"
                            [disabled]="ActividadForm.invalid"
                            class="p-button-rounded p-button-outlined p-mt-10"></button>

                        <button *ngIf="mostrarActualizarActividad" pButton pRipple label="Actualizar Actividad"
                            type="button" (click)="onActualizarActividadClick()" [loading]="loadingActividad"
                            [disabled]="ActividadForm.invalid"
                            class="p-button-rounded p-button-success p-button-outlined p-mt-10"></button>

                    </div>
                    <div class="col-3"></div>
                </div>

            </form>

        </div>

    </ng-template>

</p-dialog>



<p-dialog [(visible)]="OtrasActividadesDialog" [style]="{ width:'1400px', height:'350px' }"
    header="Agregar Otra Actividad" (onHide)="onCloseOtraActividadesDialog()" [modal]="true" styleClass="p-fluid">

    <ng-template pTemplate="content">

        <div class="card">

            <form [formGroup]="OtraActividadForm">

                <div class="grid" style="margin-top:1%;">
                    <div class="col-6">
                        <div class="form-group p-field custom-spacing">
                            <span class="p-float-label">

                                <input type="hidden" pInputhidden id="id" class="form-control" formControlName="id">

                                <input type="text" pInputText id="glosa" class="form-control" formControlName="glosa">
                                <label htmlFor="glosa">Glosa</label>

                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group p-field custom-spacing">
                            <span class="p-float-label">
                                <input type="number" pInputText id="uc_unitaria" class="form-control"
                                    formControlName="uc_unitaria">
                                <label htmlFor="uc_unitaria">UC Unitaria</label>
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group p-field custom-spacing">
                            <span class="p-float-label">
                                <input type="number" pInputText id="cantidad" class="form-control"
                                    formControlName="cantidad">
                                <label htmlFor="cantidad">Cantidad</label>
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group p-field custom-spacing">
                            <span class="p-float-label">
                                <input type="number" pInputText id="uc_total" class="form-control"
                                    formControlName="uc_total">
                                <label htmlFor="uc_total">UC Total</label>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="grid" style="margin-top:3%;">
                    <div class="col-3"></div>
                    <div class="col-6">

                        <button *ngIf="mostrarGuardarOtraActividad" pButton pRipple label="Guardar" type="button"
                            (click)="onGuardarOtraActividadClick()" visible="false" [loading]="loadingOtraActividad"
                            [disabled]="OtraActividadForm.invalid"
                            class="p-button-rounded p-button-outlined p-mt-10"></button>

                        <button *ngIf="mostrarActualizarOtraActividad" pButton pRipple label="Actualizar" type="button"
                            (click)="onActualizarOtraActividadClick()" [loading]="loadingOtraActividad"
                            [disabled]="OtraActividadForm.invalid"
                            class="p-button-rounded p-button-success p-button-outlined p-mt-10"></button>

                    </div>
                    <div class="col-3"></div>
                </div>

            </form>

        </div>

    </ng-template>

</p-dialog>



<p-dialog [(visible)]="formAddFlexiAppDialog" [style]="{ width:'300px', height:'300px' }"
    header="Agregar Codigo FlexiApp" (onHide)="onCloseFormAddFlexiAppDialog()" [modal]="true" styleClass="p-fluid">

    <ng-template pTemplate="content">

        <div class="card">

            <form [formGroup]="FlexiAppForm">

                <div class="grid" style="margin-top:1%;">
                    <div class="col-12">
                        <div class="form-group p-field custom-spacing">
                            <span class="p-float-label">
                                <input type="text" pInputText id="flexiappAgregar" class="form-control"
                                    formControlName="flexiappAgregar">
                                <label htmlFor="flexiappAgregar">Agregar Flexiapp</label>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="grid" style="margin-top:3%;">
                    <div class="col-3"></div>
                    <div class="col-6">

                        <button pButton pRipple label="Guardar" type="button" (click)="onGuardarFlexiAppFormClick()"
                            [loading]="loading" [disabled]="FlexiAppForm.invalid"
                            class="p-button-rounded p-button-outlined p-mt-10"></button>

                    </div>
                    <div class="col-3"></div>
                </div>

            </form>

        </div>

    </ng-template>
</p-dialog>