<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">

            <p-toast></p-toast>

            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="form-group">
                        <p-dropdown [options]="paquetes" [(ngModel)]="selectedPaquete" optionLabel="name"
                            placeholder="Paquete"></p-dropdown>
                    </div>
                    <div class="form-group">
                        <p-dropdown [options]="meses" [(ngModel)]="selectedMes" optionLabel="name"
                            placeholder="Mes"></p-dropdown>
                    </div>
                    <div class="form-group">
                        <p-calendar [(ngModel)]="FechaInicio" [showIcon]="true"
                            placeholder="Ejecutados Desde"></p-calendar>
                    </div>
                    <div class="form-group">
                        <p-calendar [(ngModel)]="FechaFinal" [showIcon]="true"
                            placeholder="Ejecutados Hasta"></p-calendar>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">

                    <button pButton pRipple label="Consultar" icon="pi pi-check" class="p-button-success"
                        (click)="ConsultarEstadoResultado()"></button>

                    <button [useExistingCss]="false" printSectionId="pdfContainer" ngxPrint pButton pRipple
                        label="Generar PDF" icon="pi pi-search" class="p-button-help"></button>

                </ng-template>
            </p-toolbar>


            <div class="card">
                <div class="grid">

                    <div class="col-fixed" style="width:100px">
                        <div class="box">

                        </div>
                    </div>
                    <div class="col">
                        <div class="box">

                            <div id="pdfContainer" class="card text-xs font-normal">

                                <h5 class="cajatitulo">ESTADO DE PAGO</h5>

                                <div class="grid">
                                    <div class="col-fixed" style="width:50px">

                                    </div>
                                    <div class="col">

                                        <p>
                                            <strong>Periodo:</strong> Agosto
                                        </p>

                                        <p>
                                            <strong>Zonal:</strong> Maule Norte
                                        </p>

                                        <p>
                                            <strong>Paquete:</strong> Talca
                                        </p>

                                        <p>
                                            <strong>Fecha inicial:</strong> 15-07-2023
                                            <strong>Fecha final:</strong> 16-08-2023
                                        </p>

                                    </div>
                                </div>

                                <hr>

                                <div class="grid">
                                    <div class="col-fixed" style="width:200px">
                                    </div>
                                    <div class="col" >
                                        <table border="1">
                                            <thead>
                                                <tr>
                                                    <th>Localidad</th>
                                                    <th>CARGO FIJO SEMANAL POR BRIGADA</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of CARGOFIJOSEMANALPORBRIGADA">
                                                    <td style="text-align:left;padding-left:5px ; ">{{
                                                        item.localidad }}</td>
                                                    <td>{{ item.valor_cargo | currency:'CLP':'$':'1.0-0' | commaToDot }}
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <!-- <tfoot>
                                                <tr>
                                                    <td colspan="4"><strong> SUBTOTAL FIJO </strong></td>
                                                    <td>{{ this.sumatoriaResumenTurno | currency:'CLP':'$':'1.0-0' |
                                                        commaToDot }}</td>
                                                </tr>
                                            </tfoot> -->
                                        </table>
                                    </div>
                                    <div class="col-fixed" style="width:200px">
                                    </div>
                                </div>


                                <hr>

                                <!-- <h6 class="cajatitulo"></h6> -->

                                <div class="grid">
                                    <div class="col-fixed" style="width:50px">
                                    </div>
                                    <div class="col">

                                        <table border="1">
                                            <thead>

                                                <tr>
                                                    <th style="text-align: center;" colspan="4">
                                                        PERMANENICA CARGO FIJO SEMANAL POR BRIGADA
                                                    </th>
                                                </tr>

                                                <tr>
                                                    <th>Brigada</th>
                                                    <th>Turnos presentados</th>
                                                    <th>Valor día</th>
                                                    <th>Valor total brigada mes</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr *ngFor="let item of PERMANENICACARGOFIJOSEMANALPORBRIGADA">
                                                    <td style="text-align:left;">{{ item.brigada }}</td>
                                                    <td>{{ item.turnos }}</td>
                                                    <td>{{ item.valor_dia | currency:'CLP':'$':'1.0-0' | commaToDot }}
                                                    </td>

                                                    <td>
                                                        {{
                                                        (item.valor_mes !== null ? item.valor_mes : '0') |
                                                        currency:'CLP':'$':'1.0-0' |
                                                        commaToDot
                                                        }}
                                                    </td>


                                                </tr>

                                            </tbody>
                                            <tfoot>
                                                <!-- <tr>
                                                    <td colspan="3"> <strong> SUB TOTAL VARIABLE </strong></td>
                                                    <td>{{ this.sumatoriaResumenEvento | currency:'CLP':'$':'1.0-0' |
                                                        commaToDot }}</td>
                                                </tr> -->
                                            </tfoot>
                                        </table>

                                    </div>
                                    <div class="col-fixed" style="width:100px">
                                    </div>
                                </div>

                                <hr>

                                <div class="grid">
                                    <div class="col-fixed" style="width:200px">
                                    </div>
                                    <div class="col" >
                                        <table border="1">
                                            <thead>
                                                <tr>
                                                   <th style="text-align:left;padding-left:5px;" >OBSERVACIONES</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of OBSERVACIONES">
                                                   <td style="text-align:left;padding-left:5px;">{{ item.detalle }}</td>
                                                </tr>
                                            </tbody>
                                            <!-- <tfoot>
                                                <tr>
                                                    <td colspan="4"><strong> SUBTOTAL FIJO </strong></td>
                                                    <td>{{ this.sumatoriaResumenTurno | currency:'CLP':'$':'1.0-0' |
                                                        commaToDot }}</td>
                                                </tr>
                                            </tfoot> -->
                                        </table>
                                    </div>
                                    <div class="col-fixed" style="width:200px">
                                    </div>
                                </div>
                                
                                <hr>

                                <div class="grid">
                                    <div class="col-fixed" style="width:50px">
                                    </div>
                                    <div class="col">

                                        <table border="1">
                                            <thead>
                                                <tr>
                                                    <th style="text-align: center;" colspan="4">
                                                        HORAS EXTRAS
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th>Brigada</th>
                                                    <th>Cantidad horas</th>
                                                    <th>Valor base HH</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr *ngFor="let item of HORASEXTRAS">
                                                    <td style="text-align:left;">{{ item.brigada }}</td>
                                                    <td>{{ item.horas }}</td>
                                                    <td>{{ item.valor_base | currency:'CLP':'$':'1.0-0' | commaToDot }}
                                                    </td>

                                                    <td>
                                                        {{
                                                        (item.valor_total !== null ? item.valor_total : '0') |
                                                        currency:'CLP':'$':'1.0-0' |
                                                        commaToDot
                                                        }}
                                                    </td>


                                                </tr>

                                            </tbody>
                                            <tfoot>
                                                <!-- <tr>
                                                    <td colspan="3"> <strong> SUB TOTAL VARIABLE </strong></td>
                                                    <td>{{ this.sumatoriaResumenEvento | currency:'CLP':'$':'1.0-0' |
                                                        commaToDot }}</td>
                                                </tr> -->
                                            </tfoot>
                                        </table>

                                    </div>
                                    <div class="col-fixed" style="width:100px">
                                    </div>
                                </div>

                                <hr>

                                <div class="grid">
                                    <div class="col-fixed" style="width:50px">
                                    </div>
                                    <div class="col">

                                        <table border="1">
                                            <thead>
                                                <tr>
                                                    <th style="text-align: center;" colspan="4">
                                                        TURNOS ADICIONALES
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th>Brigada</th>
                                                    <th>Turnos presentados</th>
                                                    <th>Valor día</th>
                                                    <th>Valor total</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr *ngFor="let item of TURNOSADICIONALES">
                                                    <td style="text-align:left;">{{ item.brigada }}</td>
                                                    <td>{{ item.turnos }}</td>
                                                    <td>{{ item.valor_dia | currency:'CLP':'$':'1.0-0' | commaToDot }}
                                                    </td>

                                                    <td>
                                                        {{
                                                        (item.valor_total !== null ? item.valor_total : '0') |
                                                        currency:'CLP':'$':'1.0-0' |
                                                        commaToDot
                                                        }}
                                                    </td>


                                                </tr>

                                            </tbody>
                                            <tfoot>
                                                <!-- <tr>
                                                    <td colspan="3"> <strong> SUB TOTAL VARIABLE </strong></td>
                                                    <td>{{ this.sumatoriaResumenEvento | currency:'CLP':'$':'1.0-0' |
                                                        commaToDot }}</td>
                                                </tr> -->
                                            </tfoot>
                                        </table>

                                    </div>
                                    <div class="col-fixed" style="width:100px">
                                    </div>
                                </div>

                                <hr>

                                <div class="grid">
                                    <div class="col-fixed" style="width:50px">
                                    </div>
                                    <div class="col">

                                        <table border="1">
                                            <thead>
                                                <tr>
                                                    <th style="text-align: center;" colspan="4">
                                                        TURNOS CONTINGENCIA
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th>Brigada</th>
                                                    <th>Turnos presentados</th>
                                                    <th>Valor día</th>
                                                    <th>Valor total</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr *ngFor="let item of TURNOSCONTINGENCIA">
                                                    <td style="text-align:left;">{{ item.brigada }}</td>
                                                    <td>{{ item.turnos }}</td>
                                                    <td>{{ item.valor_dia | currency:'CLP':'$':'1.0-0' | commaToDot }}
                                                    </td>

                                                    <td>
                                                        {{
                                                        (item.valor_total !== null ? item.valor_total : '0') |
                                                        currency:'CLP':'$':'1.0-0' |
                                                        commaToDot
                                                        }}
                                                    </td>


                                                </tr>

                                            </tbody>
                                            <tfoot>
                                                <!-- <tr>
                                                    <td colspan="3"> <strong> SUB TOTAL VARIABLE </strong></td>
                                                    <td>{{ this.sumatoriaResumenEvento | currency:'CLP':'$':'1.0-0' |
                                                        commaToDot }}</td>
                                                </tr> -->
                                            </tfoot>
                                        </table>

                                    </div>
                                    <div class="col-fixed" style="width:100px">
                                    </div>
                                </div>

                                <hr>

                                <div class="grid">
                                    <div class="col-fixed" style="width:50px">
                                    </div>
                                    <div class="col">

                                        <table border="1">
                                            <thead>
                                                <tr>
                                                    <th style="text-align: center;" colspan="4">
                                                        PRODUCCIÓN PxQ
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th>Tipo de evento</th>
                                                    <th>Valot total</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr *ngFor="let item of PRODUCCIONPxQ">
                                                    <td style="text-align:left;">{{ item.tipo_evento }}</td>
                                                    <td>
                                                        {{
                                                        (item.valor_total !== null ? item.valor_total : '0') |
                                                        currency:'CLP':'$':'1.0-0' |
                                                        commaToDot
                                                        }}
                                                    </td>
                                                </tr>

                                            </tbody>
                                            <tfoot>
                                                <!-- <tr>
                                                    <td colspan="3"> <strong> SUB TOTAL VARIABLE </strong></td>
                                                    <td>{{ this.sumatoriaResumenEvento | currency:'CLP':'$':'1.0-0' |
                                                        commaToDot }}</td>
                                                </tr> -->
                                            </tfoot>
                                        </table>

                                    </div>
                                    <div class="col-fixed" style="width:100px">
                                    </div>
                                </div>

                                <hr>

                                <div class="grid">
                                    <div class="col-fixed" style="width:50px">
                                    </div>
                                    <div class="col">

                                        <table border="1">
                                            <thead>
                                                <tr>
                                                    <th style="text-align: center;" colspan="4">
                                                        COBROS ADICIONALES
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th>DETALLE</th>
                                                    <th>Q</th>
                                                    <th>TOTAL</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr *ngFor="let item of COBROSADICIONALES">
                                                    <td style="text-align:left;">{{ item.detalle }}</td>
                                                    <td>{{ item.q }}</td>
                                                    <td>
                                                        {{
                                                        (item.total !== null ? item.total : '0') |
                                                        currency:'CLP':'$':'1.0-0' |
                                                        commaToDot
                                                        }}
                                                    </td>
                                                </tr>

                                            </tbody>
                                            <tfoot>
                                                <!-- <tr>
                                                    <td colspan="3"> <strong> SUB TOTAL VARIABLE </strong></td>
                                                    <td>{{ this.sumatoriaResumenEvento | currency:'CLP':'$':'1.0-0' |
                                                        commaToDot }}</td>
                                                </tr> -->
                                            </tfoot>
                                        </table>

                                    </div>
                                    <div class="col-fixed" style="width:100px">
                                    </div>
                                </div>

                                <hr>

                                <div class="grid">
                                    <div class="col-fixed" style="width:50px">
                                    </div>
                                    <div class="col">

                                        <table border="1">
                                            <thead>
                                                <tr>
                                                    <th style="text-align: center;" colspan="4">
                                                        DESCUENTOS
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th>DETALLE</th>
                                                    <th>Q</th>
                                                    <th>TOTAL</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr *ngFor="let item of DESCUENTOS">
                                                    <td style="text-align:left;">{{ item.detalle }}</td>
                                                    <td>{{ item.q }}</td>
                                                    <td>
                                                        {{
                                                        (item.total !== null ? item.total : '0') |
                                                        currency:'CLP':'$':'1.0-0' |
                                                        commaToDot
                                                        }}
                                                    </td>
                                                </tr>

                                            </tbody>
                                            <tfoot>
                                                <!-- <tr>
                                                    <td colspan="3"> <strong> SUB TOTAL VARIABLE </strong></td>
                                                    <td>{{ this.sumatoriaResumenEvento | currency:'CLP':'$':'1.0-0' |
                                                        commaToDot }}</td>
                                                </tr> -->
                                            </tfoot>
                                        </table>

                                    </div>
                                    <div class="col-fixed" style="width:100px">
                                    </div>
                                </div>

                                <hr>

                                <div class="grid">
                                    <div class="col-fixed" style="width:50px">
                                    </div>
                                    <div class="col">

                                        <table border="1">
                                            <thead>
                                                <tr>
                                                    <th style="text-align: center;" colspan="4">
                                                        RESUMEN
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th>ITEM</th>
                                                    <th>VALOR</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr *ngFor="let item of RESUMEN">
                                                    <td style="text-align:left;">{{ item.item }}</td>
                                                    <td>
                                                        {{
                                                        (item.valor !== null ? item.valor : '0') |
                                                        currency:'CLP':'$':'1.0-0' |
                                                        commaToDot
                                                        }}
                                                    </td>
                                                </tr>

                                            </tbody>
                                            <tfoot>
                                                <!-- <tr>
                                                    <td colspan="3"> <strong> SUB TOTAL VARIABLE </strong></td>
                                                    <td>{{ this.sumatoriaResumenEvento | currency:'CLP':'$':'1.0-0' |
                                                        commaToDot }}</td>
                                                </tr> -->
                                            </tfoot>
                                        </table>

                                    </div>
                                    <div class="col-fixed" style="width:100px">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-fixed" style="width:100px">
                        <div class="box">

                        </div>
                    </div>
                </div>
            </div>

            <div class="card flex justify-content-center">
                <p-button label="Cerrar Periodo" [loading]="loading" (onClick)="CrearEstadoResultado()"></p-button>
            </div>

        </div>

        <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="product">Cerrar el Periodo?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteProductDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sí"
                    (click)="ConfirmoCerrarPeriodo()"></button>
            </ng-template>
        </p-dialog>

    </div>
</div>