#pdfContainer {

    /* Aplicar un borde sólido de 1px y color negro */
    border: 1px solid #dddddd;
    font-family: "Times New Roman", serif;
    color: black;
    background-color: #dddddd;
  
    /* Centrar el div horizontalmente y verticalmente */
    margin: 0 auto;
  
    /* Esto centra horizontalmente */
    //display: flex;
    //justify-content: center; /* Esto centra horizontalmente también */
    //align-items: center; /* Esto centra verticalmente */
  
    /* Especificar un ancho y altura si es necesario */
    //width: 500;
    /* Ajusta el ancho según tus necesidades */
    //height: 900px;
    /* Ajusta la altura según tus necesidades */
  }
  
  .cajatitulo {
    // border: 1px solid #dddddd;
    justify-content: center;
    align-items: center;
    display: flex;
    background: var(--surface-card);
    border: 1px solid var(--surface-border);
    padding: 2px;
    //margin-bottom: 2rem;
    box-shadow: var(--card-shadow);
    //border-radius: 9px;
  }
  
  table {
    font-family: "Times New Roman", serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td,
  th {
    //border: 1px solid #dddddd;
    border: 1px solid var(--surface-border);
    text-align: right;
    padding: 0px;
    width: 100px;
  }
  
  .col .date-col {
    font-size: 14px;
    align-items: left;
    padding-left: 5%;
    padding-top: 4%;
    text-align: center;
    /* Tamaño de fuente para la columna de la fecha */
  }
  
  .col .logo-col {
    padding-top: 2%;
  }
  
  .logo-col img {
    width: 280px;
    height: 60px;
  }
  
  .titu1 {
    padding-left: 2%;
    padding-top: 1%;
  }
  
  
  #pdfContainer {
    position: relative;
    overflow: auto;
    /* Permite el desplazamiento si el contenido es demasiado grande */
    padding-bottom: 40px;
    margin-bottom: 40px;
  }
  
  .footer {
    position: absolute;
    bottom: 0;
    width: 90%;
    text-align: center;
    height: 40px;
  }
  
  .footer hr {
    margin: 5px 0;
  }
  
  .footer p {
    margin: 5px 0;
  }
  
  .content {
    margin-bottom: 20px;
    /* Ajusta el valor según el espacio que desees entre el contenido y el pie de página */
  }
  
  
  .tabla_cabecera table {
    border-collapse: collapse;
  }
  
  .tabla_cabecera table td,
  .tabla_cabecera table tr {
    border: 0px;
    text-align:left;
    padding-left:4%;
  }
   


  #pdfContainer {

    /* Aplicar un borde sólido de 1px y color negro */
    border: 1px solid #dddddd;
    font-family: "Times New Roman", serif;
    color: black;
    background-color: #dddddd;
  
    /* Centrar el div horizontalmente y verticalmente */
    margin: 0 auto;
  
    /* Esto centra horizontalmente */
    //display: flex;
    //justify-content: center; /* Esto centra horizontalmente también */
    //align-items: center; /* Esto centra verticalmente */
  
    /* Especificar un ancho y altura si es necesario */
    //width: 500;
    /* Ajusta el ancho según tus necesidades */
    //height: 900px;
    /* Ajusta la altura según tus necesidades */
  }
  
  .cajatitulo {
    // border: 1px solid #dddddd;
    justify-content: center;
    align-items: center;
    display: flex;
    background: var(--surface-card);
    border: 1px solid var(--surface-border);
    padding: 2px;
    //margin-bottom: 2rem;
    box-shadow: var(--card-shadow);
    //border-radius: 9px;
  }
  
  table {
    font-family: "Times New Roman", serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td,
  th {
    //border: 1px solid #dddddd;
    border: 1px solid var(--surface-border);
    text-align: right;
    padding: 0px;
    width: 100px;
  }
  
  .col .date-col {
    font-size: 14px;
    align-items: left;
    padding-left: 5%;
    padding-top: 4%;
    text-align: center;
    /* Tamaño de fuente para la columna de la fecha */
  }
  
  .col .logo-col {
    padding-top: 2%;
  }
  
  .logo-col img {
    width: 280px;
    height: 60px;
  }
  
  .titu1 {
    padding-left: 2%;
    padding-top: 1%;
  }
  
  
  #pdfContainer {
    position: relative;
    overflow: auto;
    /* Permite el desplazamiento si el contenido es demasiado grande */
    padding-bottom: 40px;
    margin-bottom: 40px;
  }
  
  .footer {
    position: absolute;
    bottom: 0;
    width: 90%;
    text-align: center;
    height: 40px;
  }
  
  .footer hr {
    margin: 5px 0;
  }
  
  .footer p {
    margin: 5px 0;
  }
  
  .content {
    margin-bottom: 20px;
    /* Ajusta el valor según el espacio que desees entre el contenido y el pie de página */
  }
  
  
  .tabla_cabecera table {
    border-collapse: collapse;
  }
  
  .tabla_cabecera table td,
  .tabla_cabecera table tr {
    border: 0px;
    text-align:left;
    padding-left:4%;
  }
   
  
  .estiloTotalesEstadoDePago_1 {
    font-size:9px;
    width:100%;
    border:1px;
  }
  
  
  .estiloTotalesEstadoDePago_3 {
    font-size:9px;
    width:450px;
  }
  
  
  
  
    /* Clase para la columna fija izquierda */
    .col_pdf_avances {
      width: 30%; /* Ancho fijo del 60% */
    }
  
  
  
  .grid_footer {
    display: flex;
    text-align:center;
    font-size:9px;
    padding:0%; 
  }
  
  // style="text-align:center;font-size:9px;padding:0%;" 
  
  
  /* Clase para la columna fija izquierda */
  .col-fixed_pdf_total {
    width: 65%; /* Ancho fijo del 60% */
  }
  
    /* Clase para la columna fija derecha */
    .col-fixed_pdf_total:last-child {
      width: 1%; /* Ancho fijo del 1% */
    }
  
    
    .col_pdf_total {
      text-align: right;
    }