.search-container {
    position: relative;
  }
  
  .search-container i {
    position: absolute;
    top: 24px; /* Ajusta este valor según sea necesario */
    //left: 10px; /* Ajusta este valor según sea necesario */
    //font-size: 2rem;
  }
  