<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">

            <p-toast></p-toast>

            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">

                        <button pButton pRipple label="Nuevo Registro de Horas Extras" icon="pi pi-plus"
                            class="p-button-success mr-2" (click)="openNew()"></button>

                    </div>
                </ng-template>
                <ng-template pTemplate="right">

                    <!-- <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button> -->

                </ng-template>
            </p-toolbar>


            <p-table #dt [value]="ListHorasExtra" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                
                [globalFilterFields]="['id','brigada','cantidad','comentario','fecha_hora']" 

                [paginator]="true" [rowsPerPageOptions]="[10,20,30]"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [(selection)]="selectedEstadoResultado" selectionMode="multiple" [rowHover]="true" dataKey="id">

                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">

                        <h5 class="m-0">Horas Extras</h5>

                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>

                        <th pSortableColumn="brigada">Brigada <p-sortIcon field="brigada"></p-sortIcon></th>

                        <th pSortableColumn="cantidad">Cantidad <p-sortIcon field="cantidad"></p-sortIcon></th>

                        <th pSortableColumn="comentario">Comentario <p-sortIcon field="comentario"></p-sortIcon></th>

                        <th pSortableColumn="fecha_hora">Fecha <p-sortIcon field="fecha_hora"></p-sortIcon></th>

                        <th>#</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-HoraExtra>
                    <tr>
                        <td>
                            <span class="p-column-title">id</span>
                            {{HoraExtra.id}}
                        </td>
                        <td>
                            <span class="p-column-title">brigada</span>
                            {{HoraExtra.brigada.brigada}}
                        </td>
                        <td>
                            <span class="p-column-title">cantidad</span>
                            {{HoraExtra.cantidad}}
                        </td>
                        <td>
                            <span class="p-column-title">comentario</span>
                            {{HoraExtra.comentario}}
                        </td>
                        <td>
                            <span class="p-column-title">fecha_hora</span>
                            {{ filtrarFecha(HoraExtra.fecha_hora) }}
                        </td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                                (click)="editHoraExtra(HoraExtra)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                (click)="onEliminarClick(HoraExtra)"></button>
                        </td>
                    </tr>
                </ng-template>

            </p-table>
        </div>





        <p-dialog id="myDialog" [(visible)]="productDialog" [style]="{width: '550px' }"
            [contentStyle]="{ height: '550px' }" header="Ingresar Datos" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">

                <form [formGroup]="HoraExtraForm">

                    <input type="hidden" pInputhidden id="id" class="form-control" formControlName="id">

                    <div class="grid" style="margin-top:1%;">
                        <div class="col-6">

                            <span class="p-float-label">
                                <p-calendar id="fecha_hora" formControlName="fecha_hora" class="form-control"  dateFormat="dd-mm-yy"
                                    [showIcon]="true"></p-calendar>
                                <label htmlFor="fecha_hora">Fecha</label>
                            </span>

                        </div>
                        <div class="col-6">

                        </div>
                    </div>

                    <div class="grid" style="margin-top:1%;">
                        <div class="col">

                            <span class="p-float-label">
                                <textarea rows="3" cols="30" pInputTextarea formControlName="comentario"></textarea>
                                <label htmlFor="comentario">Comentario</label>
                            </span>

                        </div>
                    </div>

                    <div class="grid" style="margin-top:1%;">
                        <div class="col-6">

                            <span class="p-float-label">
                                <p-dropdown formControlName="brigada" id="brigada" class="form-control"
                                    [options]="brigadas" optionLabel="brigada" placeholder="Seleccionar"></p-dropdown>
                                <label htmlFor="brigada">Brigada</label>
                            </span>

                        </div>
                        <div class="col-6">

                            <span class="p-float-label">
                                <input type="text" pInputText id="cantidad" class="form-control" formControlName="cantidad">
                                <label htmlFor="cantidad">cantidad</label>
                            </span>

                        </div>
                    </div>

                    <div class="grid" style="margin-top:15%;">
                        <div class="col-3"></div>
                        <div class="col-6">

                            <button *ngIf="mostrarGuardar" pButton pRipple label="Guardar" (click)="onGuardarClick()"
                                visible="false" [loading]="loading" [disabled]="HoraExtraForm.invalid"
                                class="p-button-rounded p-button-outlined p-mt-10"></button>

                            <button *ngIf="mostrarActualizar" pButton pRipple label="Actualizar"
                                (click)="onActualizarClick()" [loading]="loading" [disabled]="HoraExtraForm.invalid"
                                class="p-button-rounded p-button-success p-button-outlined p-mt-10"></button>
                        </div>
                        <div class="col-3"></div>
                    </div>

                </form>

            </ng-template>

            <!-- <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Consultar" icon="pi pi-check" class="p-button-text"
                (click)="saveProduct()"></button>
            </ng-template> -->

        </p-dialog>




        <!-- <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="product">Are you sure you want to delete <b>{{product.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteProductDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog> -->

        <!-- <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected products?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteProductsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog> -->



        <p-confirmDialog [style]="{ width: '650px' }"></p-confirmDialog>


    </div>
</div>