<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">

            <p-toast></p-toast>

            <p-toolbar styleClass="mb-4 gap-2">
                <ng-template pTemplate="left">

                    <button pButton pRipple (click)="goBack()" label="Volver" icon="pi pi-arrow-left"
                        class="p-button-danger mr-2"></button>

                    <button pButton pRipple label="Generar Estado de Pago Final" icon="pi pi-save"
                        *ngIf="TOTALESESTADOPAGO?.totalNeto > 0" class="p-button-primary mr-2"
                        (click)="onCrearEstadoPago(NUEVOENCABEZADO)">
                    </button>

                    <!-- Mensaje para indicar que no hay cobro -->
                    <div class="flex justify-content-center gap-2" *ngIf="!(TOTALESESTADOPAGO?.totalNeto > 0)">
                            <p-message severity="info" text="No hay cobro disponible."></p-message>
                    </div>

                    <p-dialog [(visible)]="DialogConfirmarCrearEstadoPago" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
                        
                        <div class="flex align-items-center justify-content-center">
                            <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                            <span>¿Esta Seguro que desea crear un estado de Pago?</span>
                        </div>

                        <ng-template pTemplate="footer">

                            <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                                (click)="DialogConfirmarCrearEstadoPago = false"></button>

                            <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sí"
                                (click)="Confirma_CrearEstadoPago(NUEVOENCABEZADO)"></button>

                        </ng-template>
                    </p-dialog>

                </ng-template>

                <ng-template pTemplate="right">

                    <!-- Importa la directiva ngxPrint en tu componente -->
                    <!-- printTitle="Estado de Pago Servicio Atención Emergencias" -->
                    <!-- <div ngxPrint [printStyleFile]="'assets/print-style.css'" > -->
                    <!-- Contenido de la página que quieres imprimir -->
                    <!-- <button pButton icon="pi pi-print"  printSectionId="pdfContainer" (click)="print()">Imprimir</button> -->
                    <!-- </div> -->

                    <button download="ESTADO_DE_PAGO_OBRAS.pdf" printTitle="Estado de Pago" *ngIf="NUEVOENCABEZADO && LISTA_ACTIVIDADES && LISTA_ACTIVIDADES_ADICIONALES && LISTA_ACTIVIDADES_CONHORASEXTRA && AVANCESESTADOPAGO && TOTALESESTADOPAGO"
                        styleSheetFile="assets/pdf_estado_pago_obras.css" printSectionId="pdfContainer" ngxPrint pButton
                        pRipple label="Generar PDF ( E.D.P.-PRELIMINAR )" icon="pi pi-file-pdf" class="p-button-help">
                    </button>

                    <div class="flex justify-content-center gap-2" *ngIf="!NUEVOENCABEZADO && !LISTA_ACTIVIDADES && !LISTA_ACTIVIDADES_ADICIONALES && !LISTA_ACTIVIDADES_CONHORASEXTRA && !AVANCESESTADOPAGO && !TOTALESESTADOPAGO" >
                        <p-message severity="info" text="Cargando..."></p-message>
                    </div>

                    <!-- <button  (click)="print()"  pButton pRipple label="Generar PDF" icon="pi pi-search" class="p-button-help"></button> -->

                </ng-template>
            </p-toolbar>


            <div class="card">
                <div class="grid">

                    <div class="col-fixed" style="width:5%">
                        <div class="box">

                        </div>
                    </div>
                    <div class="col">
                        <div class="box">

                            <div id="pdfContainer" class="card">

                                <div class="grid grid1">
                                    <div class="col col1 logo-col">
                                        <img src="assets/layout/images/logo_pelom_new.png">
                                    </div>
                                    <div class="col col1 date-col">
                                        {{ obtenerFechaActualConDiaYCiudad() }}
                                    </div>
                                </div>

                                <div class="titu1">
                                    <p style="text-align:center;color:black;">
                                        Estado de Pago - PRELIMINAR
                                    </p>
                                    <p style="text-align:center;color:black;" >
                                        OBRAS DE MANTENIMIENTO Y CONSTRUCCIÓN : <strong> {{obra?.codigo_obra}} </strong>    
                                    </p>
                                </div>

                                <hr>
                                


                                <div class="grid grid3">

                                    <div class="col-fixed" style="width:55px">
                                    </div>

                                        <div class="col">
                                        
                                            <table  border="1" class="tabla_cabecera">
                                            <tr>
                                            <td>

                                                <table class="tabla_cabecera" style="font-size:9px;" >
                                                    <tr>
                                                        <td style="width:30%;" ><strong>Cliente:</strong></td>
                                                        <td *ngIf="NUEVOENCABEZADO && NUEVOENCABEZADO.length > 0">{{ NUEVOENCABEZADO[0]?.cliente?.nombre }}</td>
                                                        <td *ngIf="!(NUEVOENCABEZADO && NUEVOENCABEZADO.length > 0)">sin dato</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Fecha de Asignación:</strong></td>
                                                        <td *ngIf="NUEVOENCABEZADO && NUEVOENCABEZADO.length > 0">{{ NUEVOENCABEZADO[0]?.fecha_asignacion }}</td>
                                                        <td *ngIf="!(NUEVOENCABEZADO && NUEVOENCABEZADO.length > 0)">sin dato</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Tipo de trabajo:</strong></td>
                                                        <td *ngIf="NUEVOENCABEZADO && NUEVOENCABEZADO.length > 0">{{ NUEVOENCABEZADO[0]?.tipo_trabajo?.descripcion }}</td>
                                                        <td *ngIf="!(NUEVOENCABEZADO && NUEVOENCABEZADO.length > 0)">sin dato</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Segmento:</strong></td>
                                                        <td *ngIf="NUEVOENCABEZADO && NUEVOENCABEZADO.length > 0">{{ NUEVOENCABEZADO[0]?.segmento?.nombre }}</td>
                                                        <td *ngIf="!(NUEVOENCABEZADO && NUEVOENCABEZADO.length > 0)">sin dato</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Solicitado por:</strong></td>
                                                        <td *ngIf="NUEVOENCABEZADO && NUEVOENCABEZADO.length > 0">{{ NUEVOENCABEZADO[0]?.solicitado_por }}</td>
                                                        <td *ngIf="!(NUEVOENCABEZADO && NUEVOENCABEZADO.length > 0)">sin dato</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>OT / SDI:</strong></td>
                                                        <td *ngIf="NUEVOENCABEZADO && NUEVOENCABEZADO.length > 0">{{ NUEVOENCABEZADO[0]?.ot }}</td>
                                                        <td *ngIf="!(NUEVOENCABEZADO && NUEVOENCABEZADO.length > 0)">sin dato</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Supervisor pelom Ing.:</strong></td>
                                                        <td *ngIf="NUEVOENCABEZADO && NUEVOENCABEZADO.length > 0">{{ NUEVOENCABEZADO[0]?.supervisor_pelom?.supervisor }}</td>
                                                        <td *ngIf="!(NUEVOENCABEZADO && NUEVOENCABEZADO.length > 0)">sin dato</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Cordinador:</strong></td>
                                                        <td *ngIf="NUEVOENCABEZADO && NUEVOENCABEZADO.length > 0">{{ NUEVOENCABEZADO[0]?.coordinador?.nombre }}</td>
                                                        <td *ngIf="!(NUEVOENCABEZADO && NUEVOENCABEZADO.length > 0)">sin dato</td>
                                                    </tr>
                                                </table>

                                            </td>
                                            
                                            <td>

                                                <table class="tabla_cabecera" style="font-size:9px;" >
                                                    <tr>
                                                        <td style="width:30%;" ><strong>Comuna:</strong></td>
                                                        <td *ngIf="NUEVOENCABEZADO && NUEVOENCABEZADO.length > 0">{{ NUEVOENCABEZADO[0]?.comuna?.nombre }}</td>
                                                        <td *ngIf="!(NUEVOENCABEZADO && NUEVOENCABEZADO.length > 0)">sin dato</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Dirección:</strong></td>
                                                        <td *ngIf="NUEVOENCABEZADO && NUEVOENCABEZADO.length > 0">{{ NUEVOENCABEZADO[0]?.direccion }}</td>
                                                        <td *ngIf="!(NUEVOENCABEZADO && NUEVOENCABEZADO.length > 0)">sin dato</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>N° de Flexiapp:</strong></td>
                                                        <td *ngIf="NUEVOENCABEZADO && NUEVOENCABEZADO.length > 0">{{ NUEVOENCABEZADO[0]?.flexiapp }}</td>
                                                        <td *ngIf="!(NUEVOENCABEZADO && NUEVOENCABEZADO.length > 0)">sin dato</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Fecha ejecución:</strong></td>
                                                        <td *ngIf="NUEVOENCABEZADO && NUEVOENCABEZADO.length > 0">{{ NUEVOENCABEZADO[0]?.fecha_ejecucion }}</td>
                                                        <td *ngIf="!(NUEVOENCABEZADO && NUEVOENCABEZADO.length > 0)">sin dato</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Jefe de delegación:</strong></td>
                                                        <td *ngIf="NUEVOENCABEZADO && NUEVOENCABEZADO.length > 0">{{ NUEVOENCABEZADO[0]?.jefe_delegacion }}</td>
                                                        <td *ngIf="!(NUEVOENCABEZADO && NUEVOENCABEZADO.length > 0)">sin dato</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Jefe de Faena:</strong></td>
                                                        <td *ngIf="NUEVOENCABEZADO && NUEVOENCABEZADO.length > 0">{{ NUEVOENCABEZADO[0]?.jefe_faena?.nombre }}</td>
                                                        <td *ngIf="!(NUEVOENCABEZADO && NUEVOENCABEZADO.length > 0)">sin dato</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Codigo Pelom Ing.:</strong></td>
                                                        <td *ngIf="NUEVOENCABEZADO && NUEVOENCABEZADO.length > 0">{{ NUEVOENCABEZADO[0]?.codigo_pelom }}</td>
                                                        <td *ngIf="!(NUEVOENCABEZADO && NUEVOENCABEZADO.length > 0)">sin dato</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Nombre de Obra:</strong></td>
                                                        <td *ngIf="NUEVOENCABEZADO && NUEVOENCABEZADO.length > 0">{{ NUEVOENCABEZADO[0]?.nombre_obra }}</td>
                                                        <td *ngIf="!(NUEVOENCABEZADO && NUEVOENCABEZADO.length > 0)">sin dato</td>
                                                    </tr>
                                                </table>

                                            </td>
                                            </tr>
                                            </table>
    
                                        </div>

                                    <div class="col-fixed" style="width:5%">
                                    </div>
                                </div>


                                
                                <hr>
                                
                                <div class="grid">
                                    <div class="col-fixed" style="width:1%">
                                    </div>
                                    <div class="col">
                                        <table  border="1" >
                                            <thead>
                                                <tr>
                                                    <th style="text-align:center;font-size:9px;padding:0%;">Clase</th>
                                                    <th style="text-align:center;font-size:9px;padding:0%;">Tipo</th>
                                                    <th style="text-align:center;font-size:9px;padding:0%;width:35%;">
                                                        Actividad</th>
                                                    <th style="text-align:center;font-size:9px;padding:0%;">Unidad</th>
                                                    <th style="text-align:center;font-size:9px;padding:0%;">Cantidad
                                                    </th>
                                                    <th style="text-align:center;font-size:9px;padding:0%;">Unitario
                                                    </th>
                                                    <th style="text-align:center;font-size:9px;padding:0%;">Total</th>
                                                    <th style="text-align:center;font-size:9px;padding:0%;">Unitario
                                                    </th>
                                                    <th style="text-align:center;font-size:9px;padding:0%;">Recargos
                                                    </th>
                                                    <th style="text-align:center;font-size:9px;padding:0%;">Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <ng-container
                                                    *ngIf="LISTA_ACTIVIDADES && LISTA_ACTIVIDADES.length > 0; else sinRegistros_0">
                                                    <tr *ngFor="let item of LISTA_ACTIVIDADES">
                                                        <td style="text-align:center;font-size:9px;padding:0%;">{{
                                                            item.clase }}</td>
                                                        <td style="text-align:left;font-size:9px;padding-left:0.5%;">{{
                                                            item.tipo }}</td>
                                                        <td style="text-align:left;font-size:9px;padding-left:0.5%;">{{
                                                            item.actividad }}</td>
                                                        <td style="text-align:center;font-size:9px;padding:0%;">{{
                                                            item.unidad }}</td>
                                                        <td style="font-size:9px;padding-right:1%;">{{ item.cantidad }}
                                                        </td>
                                                        <td style="font-size:9px;padding-right:1%;">{{ item.unitario }}
                                                        </td>
                                                        <td style="font-size:9px;padding-right:1%;">
                                                            {{ (item.total !== null ? item.total : '0') |
                                                            currency:'CLP':'$':'1.0-0' | commaToDot }}
                                                        </td>
                                                        <td style="font-size:9px;padding-right:1%;">
                                                            {{ (item.unitario_pesos !== null ? item.unitario_pesos :
                                                            '0') | currency:'CLP':'$':'1.0-0' | commaToDot }}
                                                        </td>
                                                        <td style="text-align:center;font-size:9px;padding:0%;">{{
                                                            item.recargos }}</td>
                                                        <td style="font-size:9px;padding-right:1%;">
                                                            {{ (item.total_pesos !== null ? item.total_pesos : '0') |
                                                            currency:'CLP':'$':'1.0-0' | commaToDot }}
                                                        </td>
                                                    </tr>
                                                </ng-container>
                                                <ng-template #sinRegistros_0>
                                                    <tr>
                                                        <td colspan="10" style="text-align: center;">Sin registros</td>
                                                    </tr>
                                                </ng-template>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="9" style="padding-right:1%;font-size:9px;" > <strong> SUB TOTAL </strong></td>
                                                    <td style="font-size:9px;padding-right:1%;" > {{ (TOTALESESTADOPAGO?.subtotal1 !== null ? TOTALESESTADOPAGO?.subtotal1 : '0') | currency:'CLP':'$':'1.0-0' | commaToDot }} </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <div class="col-fixed" style="width:1%">
                                    </div>
                                </div>

                                <hr>
                                

                                <div class="grid">
                                    <div class="col-fixed" style="width:1%">
                                    </div>
                                    <div class="col">
                                        <table  border="1" >
                                            <thead>
                                                <tr>
                                                    <th style="text-align:center;font-size:9px;padding:0%;">Clase</th>
                                                    <th style="text-align:center;font-size:9px;padding:0%;">Tipo</th>
                                                    <th style="text-align:center;font-size:9px;padding:0%;width:35%;">
                                                        Actividad Adicional</th>
                                                    <th style="text-align:center;font-size:9px;padding:0%;">Unidad</th>
                                                    <th style="text-align:center;font-size:9px;padding:0%;">Cantidad
                                                    </th>
                                                    <th style="text-align:center;font-size:9px;padding:0%;">Unitario
                                                    </th>
                                                    <th style="text-align:center;font-size:9px;padding:0%;">Total</th>
                                                    <th style="text-align:center;font-size:9px;padding:0%;">Unitario
                                                    </th>
                                                    <th style="text-align:center;font-size:9px;padding:0%;">Recargos
                                                    </th>
                                                    <th style="text-align:center;font-size:9px;padding:0%;">Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <ng-container
                                                    *ngIf="LISTA_ACTIVIDADES_ADICIONALES && LISTA_ACTIVIDADES_ADICIONALES.length > 0; else sinRegistros_1">
                                                    <tr *ngFor="let item of LISTA_ACTIVIDADES_ADICIONALES">
                                                        <td style="text-align:center;font-size:9px;padding:0%;">{{
                                                            item.clase }}</td>
                                                        <td style="text-align:left;font-size:9px;padding-left:0.5%;">{{
                                                            item.tipo }}</td>
                                                        <td style="text-align:left;font-size:9px;padding-left:0.5%;">{{
                                                            item.actividad }}</td>
                                                        <td style="text-align:center;font-size:9px;padding:0%;">{{
                                                            item.unidad }}</td>
                                                        <td style="font-size:9px;padding-right:1%;">{{ item.cantidad }}
                                                        </td>
                                                        <td style="font-size:9px;padding-right:1%;">{{ item.unitario }}
                                                        </td>
                                                        <td style="font-size:9px;padding-right:1%;">
                                                            {{ (item.total !== null ? item.total : '0') |
                                                            currency:'CLP':'$':'1.0-0' | commaToDot }}
                                                        </td>
                                                        <td style="font-size:9px;padding-right:1%;">
                                                            {{ (item.unitario_pesos !== null ? item.unitario_pesos :
                                                            '0') | currency:'CLP':'$':'1.0-0' | commaToDot }}
                                                        </td>
                                                        <td style="text-align:center;font-size:9px;padding:0%;">{{
                                                            item.recargos }}</td>
                                                        <td style="font-size:9px;padding-right:1%;">
                                                            {{ (item.total_pesos !== null ? item.total_pesos : '0') |
                                                            currency:'CLP':'$':'1.0-0' | commaToDot }}
                                                        </td>
                                                    </tr>
                                                </ng-container>
                                                <ng-template #sinRegistros_1>
                                                    <tr>
                                                        <td colspan="10" style="text-align: center;">Sin registros</td>
                                                    </tr>
                                                </ng-template>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="9" style="padding-right:1%;font-size:9px;" > <strong> SUB TOTAL </strong></td>
                                                    <td style="font-size:9px;padding-right:1%;" > {{ (TOTALESESTADOPAGO?.subtotal2 !== null ? TOTALESESTADOPAGO?.subtotal2 : '0') | currency:'CLP':'$':'1.0-0' | commaToDot }} </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <div class="col-fixed" style="width:1%">
                                    </div>
                                </div>

                                <hr>
                                

                                <div class="grid">
                                    <div class="col-fixed" style="width:1%">
                                    </div>
                                    <div class="col">
                                        <table border="1" >
                                            <thead>
                                                <tr>
                                                    <th style="text-align:center;font-size:9px;padding:0%;">Clase</th>
                                                    <th style="text-align:center;font-size:9px;padding:0%;">Tipo</th>
                                                    <th style="text-align:center;font-size:9px;padding:0%;width:35%;">
                                                        Actividades en horarios extraordinarios</th>
                                                    <th style="text-align:center;font-size:9px;padding:0%;">Unidad</th>
                                                    <th style="text-align:center;font-size:9px;padding:0%;">Cantidad
                                                    </th>
                                                    <th style="text-align:center;font-size:9px;padding:0%;">Unitario
                                                    </th>
                                                    <th style="text-align:center;font-size:9px;padding:0%;">Total</th>
                                                    <th style="text-align:center;font-size:9px;padding:0%;">Unitario
                                                    </th>
                                                    <th style="text-align:center;font-size:9px;padding:0%;">Recargos
                                                    </th>
                                                    <th style="text-align:center;font-size:9px;padding:0%;">Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <ng-container
                                                    *ngIf="LISTA_ACTIVIDADES_CONHORASEXTRA && LISTA_ACTIVIDADES_CONHORASEXTRA.length > 0; else sinRegistros_2">
                                                    <tr *ngFor="let item of LISTA_ACTIVIDADES_CONHORASEXTRA">
                                                        <td style="text-align:center;font-size:9px;padding:0%;">{{
                                                            item.clase }}</td>
                                                        <td style="text-align:left;font-size:9px;padding-left:0.5%;">{{
                                                            item.tipo }}</td>
                                                        <td style="text-align:left;font-size:9px;padding-left:0.5%;">{{
                                                            item.actividad }}</td>
                                                        <td style="text-align:center;font-size:9px;padding:0%;">{{
                                                            item.unidad }}</td>
                                                        <td style="font-size:9px;padding-right:1%;">{{ item.cantidad }}
                                                        </td>
                                                        <td style="font-size:9px;padding-right:1%;">
                                                            {{ item.unitario }}
                                                        </td>
                                                        <td style="font-size:9px;padding-right:1%;">
                                                            {{ (item.total !== null ? item.total : '0') |
                                                            currency:'CLP':'$':'1.0-0' | commaToDot }}
                                                        </td>
                                                        <td style="font-size:9px;padding-right:1%;">
                                                            {{ (item.unitario_pesos !== null ? item.unitario_pesos :
                                                            '0') | currency:'CLP':'$':'1.0-0' | commaToDot }}
                                                        </td>
                                                        <td style="text-align:center;font-size:9px;padding:0%;">{{
                                                            item.recargos }}</td>
                                                        <td style="font-size:9px;padding-right:1%;">
                                                            {{ (item.total_pesos !== null ? item.total_pesos : '0') |
                                                            currency:'CLP':'$':'1.0-0' | commaToDot }}
                                                        </td>
                                                    </tr>
                                                </ng-container>
                                                <ng-template #sinRegistros_2>
                                                    <tr>
                                                        <td colspan="10" style="text-align: center;">Sin registros</td>
                                                    </tr>
                                                </ng-template>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="9" style="padding-right:1%;font-size:9px;" > <strong> SUB TOTAL </strong></td>
                                                    <td style="font-size:9px;padding-right:1%;" > {{ (TOTALESESTADOPAGO?.subtotal3 !== null ? TOTALESESTADOPAGO?.subtotal3 : '0') | currency:'CLP':'$':'1.0-0' | commaToDot }} </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <div class="col-fixed" style="width:1%">
                                    </div>
                                </div>

                                <hr>
                                

                                <div class="grid grid_pdf_avances">
                                    <div class="col-fixed col_pdf_avances" >
                                        
                                    </div>
                                    <div class="col">

                                        <table border="1" class="estiloTotalesEstadoDePago_3" >
                                            <thead>
                                                <tr>
                                                    <th colspan="3" style="text-align:center;font-size:9px;padding:0%;">
                                                        Avances de estado de pago</th>
                                                </tr>
                                                <tr>
                                                    <th style="text-align:center;font-size:9px;padding:0%;">Código Pelom
                                                    </th>
                                                    <th style="text-align:center;font-size:9px;padding:0%;">Fecha</th>
                                                    <th style="text-align:center;font-size:9px;padding:0%;">Monto</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <ng-container
                                                    *ngIf="AVANCESESTADOPAGO  && AVANCESESTADOPAGO .length > 0; else sinRegistros_3">
                                                    <tr *ngFor="let item of AVANCESESTADOPAGO ">
                                                        <td style="text-align:center;font-size:9px;padding:0%;">{{
                                                            item.codigo_pelom }}</td>
                                                        <td style="text-align:center;font-size:9px;padding:0%;">{{
                                                            item.fecha_avance }}</td>
                                                        <td style="font-size:9px;padding-right:10%;">
                                                            {{ (item.monto !== null ? item.monto : '0') |
                                                            currency:'CLP':'$':'1.0-0' | commaToDot }}
                                                        </td>
                                                    </tr>
                                                </ng-container>
                                                <ng-template #sinRegistros_3>
                                                    <tr>
                                                        <td colspan="10" style="text-align: center;">Sin registros</td>
                                                    </tr>
                                                </ng-template>

                                            </tbody>
                                            <!-- <tfoot>
                                                <tr>
                                                    <td colspan="2" style="padding-right:1%;font-size:9px;" ><strong>TOTAL</strong></td>
                                                    <td style="font-size:9px;padding-right:10%;" >{{ ('100000') | currency:'CLP':'$':'1.0-0' | commaToDot }} </td>
                                                </tr>
                                            </tfoot> -->

                                            <tfoot>
                                                <tr>
                                                   <td colspan="2" style="padding-right:1%;font-size:9px;" ><strong>Total</strong></td>
                                                   <td style="font-size:9px;padding-right:10%;"  *ngIf="TOTALESESTADOPAGO" > {{ (TOTALESESTADOPAGO?.descuentoAvance !== null ? TOTALESESTADOPAGO?.descuentoAvance : '0') | currency:'CLP':'$':'1.0-0' | commaToDot }} </td>
                                                   <td *ngIf="!(TOTALESESTADOPAGO)">sin dato</td>
                                                </tr>
                                            </tfoot>

                                        </table>


                                    </div>
                                    <div class="col-fixed">
                                    </div>
                                </div>

                                <hr>
                                
                                    <div class="grid grid_pdf_total">
                                        
                                        <div class="col-fixed col-fixed_pdf_total"> 
                                        </div>

                                        <div class="col col_pdf_total">

                                            <table border="1" class="estiloTotalesEstadoDePago_1 estiloTotalesEstadoDePago_2" >
                                                <tr>
                                                    <th colspan="2" style="text-align:center;font-size:9px;padding:0%;">
                                                        Totales Estados de Pago</th>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:left;font-size:9px;padding-left:5%;width:150px;" ><strong>Subtotal 1:</strong></td>

                                                    <td style="font-size:9px;padding-right:5%;" *ngIf="TOTALESESTADOPAGO">{{ (TOTALESESTADOPAGO?.subtotal1 !== null ? TOTALESESTADOPAGO?.subtotal1 : '0') | currency:'CLP':'$':'1.0-0' | commaToDot }} </td>
                                                    <td *ngIf="!(TOTALESESTADOPAGO)">sin dato</td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:left;font-size:9px;padding-left:5%;" ><strong>Subtotal 2:</strong></td>
                                                    <td style="font-size:9px;padding-right:5%;" *ngIf="TOTALESESTADOPAGO">{{ (TOTALESESTADOPAGO?.subtotal2 !== null ? TOTALESESTADOPAGO?.subtotal2 : '0') | currency:'CLP':'$':'1.0-0' | commaToDot }} </td>
                                                    <td *ngIf="!(TOTALESESTADOPAGO)">sin dato</td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:left;font-size:9px;padding-left:5%;" ><strong>Subtotal 3:</strong></td>
                                                    <td style="font-size:9px;padding-right:5%;" *ngIf="TOTALESESTADOPAGO">{{ (TOTALESESTADOPAGO?.subtotal3 !== null ? TOTALESESTADOPAGO?.subtotal3 : '0') | currency:'CLP':'$':'1.0-0' | commaToDot }} </td>
                                                    <td *ngIf="!(TOTALESESTADOPAGO)">sin dato</td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:left;font-size:9px;padding-left:5%;" ><strong>Valor Neto:</strong></td>
                                                    <td style="font-size:9px;padding-right:5%;" *ngIf="TOTALESESTADOPAGO">{{ (TOTALESESTADOPAGO?.valorNeto !== null ? TOTALESESTADOPAGO?.valorNeto : '0') | currency:'CLP':'$':'1.0-0' | commaToDot }} </td>
                                                    <td *ngIf="!(TOTALESESTADOPAGO)">sin dato</td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:left;font-size:9px;padding-left:5%;" ><strong>Descuento avances de pago (sin iva):</strong></td>
                                                    <td style="font-size:9px;padding-right:5%;" *ngIf="TOTALESESTADOPAGO">{{ (TOTALESESTADOPAGO?.descuentoAvance !== null ? TOTALESESTADOPAGO?.descuentoAvance : '0') | currency:'CLP':'$':'1.0-0' | commaToDot }} </td>
                                                    <td *ngIf="!(TOTALESESTADOPAGO)">sin dato</td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:left;font-size:9px;padding-left:5%;" ><strong>Total Neto:</strong></td>
                                                    <td style="font-size:9px;padding-right:5%;" *ngIf="TOTALESESTADOPAGO">{{ (TOTALESESTADOPAGO?.valorNeto !== null ? TOTALESESTADOPAGO?.valorNeto : '0') | currency:'CLP':'$':'1.0-0' | commaToDot }} </td>
                                                    <td *ngIf="!(TOTALESESTADOPAGO)">sin dato</td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:left;font-size:9px;padding-left:5%;" ><strong>IVA:</strong></td>
                                                    <td style="font-size:9px;padding-right:5%;" *ngIf="TOTALESESTADOPAGO">{{ (TOTALESESTADOPAGO?.iva !== null ? TOTALESESTADOPAGO?.iva : '0') | currency:'CLP':'$':'1.0-0' | commaToDot }} </td>
                                                    <td *ngIf="!(TOTALESESTADOPAGO)">sin dato</td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:left;font-size:9px;padding-left:5%;" ><strong>Total estado de pago:</strong></td>
                                                    <td style="font-size:9px;padding-right:5%;" *ngIf="TOTALESESTADOPAGO">{{ (TOTALESESTADOPAGO?.totalNeto !== null ? TOTALESESTADOPAGO?.totalNeto : '0') | currency:'CLP':'$':'1.0-0' | commaToDot }} </td>
                                                    <td *ngIf="!(TOTALESESTADOPAGO)">sin dato</td>
                                                </tr>
                                            </table>

                                        </div>
                                        <div class="col-fixed col-fixed_pdf_total">
                                        </div>
                                    </div>

                                <hr>
                                
                                <!-- Al final del contenido del informe -->
                                <div class="footer">
                                    <div class="grid grid_footer" >
                                        <div class="col col_footer">
                                            <p>Nombre: _______________________</p>
                                            <p>R.U.N: _______________________</p>
                                            <p>Firma: _______________________</p>
                                        </div>
                                        <div class="col col_footer">
                                            <p>Nombre: _______________________</p>
                                            <p>R.U.N: _______________________</p>
                                            <p>Firma: _______________________</p>
                                        </div>
                                        <div class="col col_footer">
                                            <p>Nombre: _______________________</p>
                                            <p>R.U.N: _______________________</p>
                                            <p>Firma: _______________________</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="col-fixed" style="width:5%">
                        <div class="box">

                        </div>
                    </div>
                </div>
            </div>



        </div>

    </div>
</div>