<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">

            <p-toast></p-toast>

            <p-toolbar styleClass="mb-4 gap-2">
                <ng-template pTemplate="left">

                    <button pButton pRipple (click)="goBack()" label="Volver" icon="pi pi-arrow-left"
                        class="p-button-danger mr-2"></button>

                    <button pButton pRipple label="Guardar Temp" icon="pi pi-save"
                        class="p-button-primary mr-2"></button>

                    <button pButton pRipple label="Cerrar Periodo" icon="pi pi-save"
                        class="p-button-primary mr-2"></button>

                </ng-template>

                <ng-template pTemplate="right">

                    <!-- Importa la directiva ngxPrint en tu componente -->
                    <!-- printTitle="Estado de Pago Servicio Atención Emergencias" -->
                    <!-- <div ngxPrint [printStyleFile]="'assets/print-style.css'" > -->
                    <!-- Contenido de la página que quieres imprimir -->
                    <!-- <button pButton icon="pi pi-print"  printSectionId="pdfContainer" (click)="print()">Imprimir</button> -->
                    <!-- </div> -->

                    <button download="PRELIMINAR_ESTADO_DE_PAGO_OBRAS.pdf" printTitle="Estado de Pago"
                        styleSheetFile="assets/pdf.css" printSectionId="pdfContainer" ngxPrint pButton pRipple
                        label="Generar PDF" icon="pi pi-file-pdf" class="p-button-help">
                    </button>

                    <!-- <button  (click)="print()"  pButton pRipple label="Generar PDF" icon="pi pi-search" class="p-button-help"></button> -->

                </ng-template>
            </p-toolbar>


            <div class="card">
                <div class="grid">

                    <div class="col-fixed" style="width:5%">
                        <div class="box">

                        </div>
                    </div>
                    <div class="col">
                        <div class="box">

                            <!-- text-xs font-normal -->

                            <div id="pdfContainer" class="card">

                                <div class="grid grid1">
                                    <div class="col col1 logo-col">
                                        <img src="assets/layout/images/logo_pelom_new.png">
                                    </div>
                                    <div class="col col1 date-col">
                                        {{ obtenerFechaActualConDiaYCiudad() }}
                                    </div>
                                </div>


                                <div class="titu1">

                                    <h5 style="text-align:center;color:black;">
                                        PRELIMINAR ESTADO DE PAGO OBRA : {{obra?.codigo_obra}}
                                    </h5>

                                </div>

                                <hr>
                                <br>

                                <div class="grid">
                                    <div class="col-fixed" style="width:15px">

                                    </div>
                                    <div class="col" style="font-size: 9px;">
                                        <p >
                                            <strong>CLIENTE:</strong> xxx
                                        </p>
                                        
                                        <p>
                                            <strong>FECHA DE ASIGNACIÓN:</strong> xxx
                                        </p>
                                        <p>
                                            <strong>TIPO DE TRABAJO:</strong> xxx
                                        </p>
                                        <p>
                                            <strong>SEGMENTO:</strong> xxx
                                        </p>
                                        <p>
                                            <strong>SOLICITADO POR:</strong> xxx
                                        </p>
                                        <p>
                                            <strong>OT / SDI:</strong> xxx
                                        </p>
                                        <p>
                                            <strong>SUPERVISOR PELOM INGENIERIA:</strong> xxx
                                        </p>
                                        <p>
                                            <strong>CORDINADOR:</strong> xxx
                                        </p>
                                    </div>
                                    <div class="col" style="font-size: 9px;" >
                                        <p>
                                            <strong>COMUNA:</strong> xxx
                                        </p>
                                        <p>
                                            <strong>DIRECCION:</strong> xxx
                                        </p>
                                        <p>
                                            <strong>N° DE FLEXIAPP:</strong> xxx
                                        </p>
                                        <p>
                                            <strong>FECHA EJECUCIÓN:</strong> xxx
                                        </p>

                                        <p>
                                            <strong>JEFE DE DELEGACION:</strong> xxx
                                        </p>
                                        <p>
                                            <strong>JEFE DE FAENA:</strong> xxx
                                        </p>
                                        <p>
                                            <strong>CODIGO PELOM INGENIERIA:</strong> xxx
                                        </p>
                                        <p>
                                            <strong>CGED:</strong> xxx
                                        </p>
                                    </div>
                                </div>

                                <hr>



                                <div class="grid">
                                    <div class="col-fixed" style="width:1%">
                                    </div>
                                    <div class="col">

                                        <table>
                                            <thead>
                                                <tr>
                                                    <th style="text-align:center;font-size:9px;padding:0%;">Clase</th>
                                                    <th style="text-align:center;font-size:9px;padding:0%;">Tipo</th>
                                                    <th style="text-align:center;font-size:9px;padding:0%;width:25%;">Actividad</th>
                                                    <th style="text-align:center;font-size:9px;padding:0%;">Unidad</th>
                                                    <th style="text-align:center;font-size:9px;padding:0%;">Cantidad</th>

                                                    <th style="text-align:center;font-size:9px;padding:0%;">Unitario</th>
                                                    <th style="text-align:center;font-size:9px;padding:0%;">Total</th>
                                                    <th style="text-align:center;font-size:9px;padding:0%;">Unitario</th>
                                                    
                                                    <th style="text-align:center;font-size:9px;padding:0%;">Recargos</th>
                                                    <th style="text-align:center;font-size:9px;padding:0%;">Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr *ngFor="let item of LISTA_ACTIVIDADES">

                                                    <td style="text-align:center;font-size:9px;padding:0%;">{{ item.clase }}</td>
                                                    <td style="text-align:center;font-size:9px;padding:0%;">{{ item.tipo }}</td>
                                                    <td style="text-align:center;font-size:9px;padding:0%;">{{ item.actividad }}</td>
                                                    <td style="text-align:center;font-size:9px;padding:0%;">{{ item.unidad }}</td>
                                                    <td style="text-align:center;font-size:9px;padding:0%;">{{ item.cantidad }}</td>
                                                    <td style="text-align:center;font-size:9px;padding:0%;">{{ item.unitario }}</td>
                                                    <td style="text-align:center;font-size:9px;padding:0%;">{{ item.total }}</td>
                                                    <td style="text-align:center;font-size:9px;padding:0%;">0</td>
                                                    <td style="text-align:center;font-size:9px;padding:0%;">0</td>
                                                    <td style="text-align:center;font-size:9px;padding:0%;">0</td>                                                   

                                                </tr>

                                            </tbody>
                                            <tfoot>

                                            </tfoot>
                                        </table>

                                    </div>
                                    <div class="col-fixed" style="width:1%">
                                    </div>
                                </div>



                                <div class="grid">
                                    <div class="col-fixed" style="width:1%">
                                    </div>
                                    <div class="col">

                                        <table border="1">
                                            <thead>

                                                <tr>

                                                <th style="text-align:center;font-size:9px;padding:0%;">Clase</th>
                                                <th style="text-align:center;font-size:9px;padding:0%;">Tipo</th>
                                                <th style="text-align:center;font-size:9px;padding:0%;width:25%;">Actividad Adicional</th>
                                                <th style="text-align:center;font-size:9px;padding:0%;">Unidad</th>
                                                <th style="text-align:center;font-size:9px;padding:0%;">Cantidad</th>

                                                <th style="text-align:center;font-size:9px;padding:0%;">Unitario</th>
                                                <th style="text-align:center;font-size:9px;padding:0%;">Total</th>
                                                <th style="text-align:center;font-size:9px;padding:0%;">Unitario</th>
                                                
                                                <th style="text-align:center;font-size:9px;padding:0%;">Recargos</th>
                                                <th style="text-align:center;font-size:9px;padding:0%;">Total</th>

                                                </tr>

                                            </thead>
                                            <tbody>

                                                <tr *ngFor="let item of LISTA_ACTIVIDADES_ADICIONALES">

                                                    <td style="text-align:center;font-size:9px;padding:0%;">{{ item.clase }}</td>
                                                    <td style="text-align:center;font-size:9px;padding:0%;">{{ item.tipo }}</td>
                                                    <td style="text-align:center;font-size:9px;padding:0%;">{{ item.actividad }}</td>
                                                    <td style="text-align:center;font-size:9px;padding:0%;">{{ item.unidad }}</td>
                                                    <td style="text-align:center;font-size:9px;padding:0%;">{{ item.cantidad }}</td>
                                                    <td style="text-align:center;font-size:9px;padding:0%;">{{ item.unitario }}</td>
                                                    <td style="text-align:center;font-size:9px;padding:0%;">{{ item.total }}</td>
                                                    <td style="text-align:center;font-size:9px;padding:0%;">0</td>
                                                    <td style="text-align:center;font-size:9px;padding:0%;">0</td>
                                                    <td style="text-align:center;font-size:9px;padding:0%;">0</td>                                                   

                                                </tr>


                                            </tbody>
                                            <tfoot>

                                            </tfoot>
                                        </table>

                                    </div>
                                    <div class="col-fixed" style="width:1%">
                                    </div>
                                </div>


                                <div class="grid">
                                    <div class="col-fixed" style="width:1%">
                                    </div>
                                    <div class="col">

                                        <table border="1">
                                            <thead>

                                                <tr>
                                                    <th style="text-align:center;">Clase</th>
                                                    <th style="text-align:center;">Tipo</th>
                                                    <th style="text-align:center;">Actividades en horarios extraordinarios</th>
                                                    <th style="text-align:center;">Unidad</th>
                                                    <th style="text-align:center;">Cantidad</th>

                                                    <th>

                                                        <table>
                                                            <tr>
                                                                <th style="text-align:center;" colspan="2">Unidades de Construcción</th>

                                                            </tr>
                                                            <tr>
                                                                <th style="text-align:center;">Unitario</th>
                                                                <th style="text-align:center;">Total</th>
                                                            </tr>
                                                        </table>

                                                    </th>

                                                    <th style="text-align:center;">
                                                    
                                                        <table>
                                                            <tr>
                                                                <th style="text-align:center;">Pesos</th>

                                                            </tr>
                                                            <tr>
                                                                <th style="text-align:center;">Unitario</th>
                                                            </tr>
                                                        </table>
                                                    
                                                    </th>
                                                    <th style="text-align:center;">Recargos</th>
                                                    <th style="text-align:center;">Total</th>
                                                </tr>

                                            </thead>
                                            <tbody>

                                            </tbody>
                                            <tfoot>

                                            </tfoot>
                                        </table>

                                    </div>
                                    <div class="col-fixed" style="width:1%">
                                    </div>
                                </div>


                                <!-- Al final del contenido del informe -->
                                <div class="footer">
                                    <hr>
                                    <br>
                                    <p>Nombre: _______________________</p>
                                    <p>R.U.N: _______________________</p>
                                    <p>Firma: _______________________</p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-fixed" style="width:5%">
                        <div class="box">

                        </div>
                    </div>
                </div>
            </div>



        </div>

    </div>
</div>