// :host ::ng-deep .p-dialog .product-image {
//     width: 150px;
//     margin: 0 auto 2rem auto;
//     display: block;
// }

// .custom-spacing {
//     margin-bottom: 20px; /* Ajusta el valor según la separación deseada */
//   }



/* Estilos específicos para el componente app-obras-page */

.mi-p-tag {
    font-size: 0.75rem;
    font-weight: 700;
    padding: 0.25rem 0.4rem;
    border: #212529 1px solid;
    border-radius: 5px !important;
    color: #212529;
}

.mi-estado-1 {
    background-color: #6174F0;
    /* Verde para el estado de éxito */
    color: #212529;
    /* Texto en blanco */
}

.mi-estado-2 {
    background-color: #B746F0;
    /* Verde para el estado de éxito */
    color: #212529;
    /* Texto en blanco */
}

.mi-estado-3 {
    background-color: #9C76EF;
    /* Verde para el estado de éxito */
    color: #212529;
    /* Texto en blanco */
}

.mi-estado-4 {
    background-color: #55ACF0;
    /* Verde para el estado de éxito */
    color: #212529;
    /* Texto en blanco */
}

.mi-estado-5 {
    background-color: #F09EC5;
    /* Verde para el estado de éxito */
    color: #212529;
    /* Texto en blanco */
}

.mi-estado-6 {
    background-color: #6DF0E2;
    /* Verde para el estado de éxito */
    color: #212529;
    /* Texto en blanco */
}

.mi-estado-7 {
    background-color: #D6CFA8;
    /* Verde para el estado de éxito */
    color: #212529;
    /* Texto en blanco */
}

.mi-estado-8 {
    background-color: #30CC79;
    /* Verde para el estado de éxito */
    color: #212529;
    /* Texto en blanco */
}

.mi-estado- {
    background-color: #B8122F;
    /* Verde para el estado de éxito */
    color: #212529;
    /* Texto en blanco */
}
