<p-card header="Obras">
  <div class="card">
    <p-toast></p-toast>
    <p-toolbar styleClass="mb-4 gap-2">

      <ng-template pTemplate="left">

        <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2"
          (click)="openNew()"></button>

        <!-- <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger"
          (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button> -->

      </ng-template>

      <ng-template pTemplate="right">

        <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
          class="mr-2 inline-block"></p-fileUpload> -->

        <!-- <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button> -->

      </ng-template>
    </p-toolbar>

    <p-table #dt [value]="obras" selectionMode="single" [columns]="cols" [rows]="10" [paginator]="true"
      styleClass="p-datatable-gridlines p-datatable-striped p-datatable-header"
      [globalFilterFields]="['nombre_obra', 'codigo_obra', 'numero_ot', 'monto','estado.nombre']"
      [tableStyle]="{ 'min-width': '75rem' }"  [rowHover]="true" dataKey="id"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">

      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          <h4 class="m-0">Obras en Curso</h4>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
              placeholder="Search..." />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>

          <th pSortableColumn="nombre_obra" style="min-width:10rem">Nombre Obra <p-sortIcon
              field="nombre_obra"></p-sortIcon></th>

          <th pSortableColumn="codigo_obra" style="min-width:10rem">Codigo <p-sortIcon field="codigo_obra"></p-sortIcon></th>

          <th pSortableColumn="coordinador_contratista"> Coordinador <p-sortIcon field="coordinador_contratista"></p-sortIcon></th>

          <th pSortableColumn="tipo_obra" style="min-width:10rem">Tipo Obra <p-sortIcon field="tipo_obra"></p-sortIcon></th>

          <th pSortableColumn="cantidad_estados_pago" style="min-width:10rem">Estados de Pago<p-sortIcon field="cantidad_estados_pago"></p-sortIcon></th>
 
          <th pSortableColumn="cantidad_reportes" style="min-width:10rem">Reportes Diarios<p-sortIcon field="cantidad_reportes"></p-sortIcon></th>
 
          <th pSortableColumn="reportes_pendientes" style="min-width:10rem">Reportes Diarios Pendientes<p-sortIcon field="reportes_pendientes"></p-sortIcon></th>

          <th pSortableColumn="estado.nombre" style="min-width:10rem">Estado <p-sortIcon
              field="estado.nombre"></p-sortIcon></th>
          
          <th pSortableColumn="fecha_estado" style="min-width:10rem">Fecha Estado <p-sortIcon
                field="fecha_estado"></p-sortIcon></th>
          
          <th>View</th>

          <th>Edit</th>

          <th>Del</th>

        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-obra>
        <tr [pSelectableRow]="obra">

          <td>{{ obra.nombre_obra }}</td>
          <td>{{ obra.codigo_obra }}</td>
          
          <td>{{ obra.coordinador_contratista.nombre }}</td>

          <td style="text-align:center;">{{ obra.tipo_obra.descripcion }}</td>

          <td style="text-align:center;">{{ obra.cantidad_estados_pago }}</td>
          <td style="text-align:center;">{{ obra.cantidad_reportes }}</td>
          <td style="text-align:center;">{{ obra.reportes_pendientes }}</td>
          <td>
            <p class="mi-p-tag" [style.background-color]="obra.estado.color">
              <span class="pi pi-star" style="margin-right: 0.5rem;"></span>
              {{ obra.estado.nombre }}
            </p>
          </td>
          <td style="text-align:center;">{{ obra.fecha_estado }}</td>

          <td style="text-align:center;">
            <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-help mr-2" (click)="verObra(obra)"></button>
          </td>          
          <td style="text-align:center;">
            <button *ngIf="obra.estado.id != 7" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editObra(obra)"></button>
          </td>
          <td style="text-align:center;">
            <button  *ngIf="obra.estado.id != 7" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteObra(obra)"></button>
          </td>

        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">In total there are {{ obras ? obras.length : 0 }}
          obras.</div>
      </ng-template>
    </p-table>
  </div>


  <p-dialog [(visible)]="formObraDialog" [style]="{ width: '1000px' , height: '720px' }" header="{{OBRA}}"
    [modal]="true" styleClass="p-fluid">

    <ng-template pTemplate="content">

      <form [formGroup]="obraForm">
 
        <div class="card" style="height:450px;">
          <p-tabView>
            
            <p-tabPanel header="Datos Principales">

              <div class="grid" style="height:100px;margin-top:2%;">

                <div class="col-4">
                  <div class="form-group p-field custom-spacing">
                    <span class="p-float-label">
                      <p-dropdown formControlName="tipo_obra" id="tipo_obra" class="form-control" [options]="tipo_obra"
                        optionLabel="descripcion" placeholder="Seleccionar"
                        (onChange)="onTipoObraSelected($event.value)"></p-dropdown>
                      <label htmlFor="tipo_obra">Tipo de Obra</label>
                    </span>
                  </div>
                </div>

                <div class="col-4">
                  <div class="form-group p-field custom-spacing">
                    <span class="p-float-label">

                      <input type="hidden" pInputhidden id="id" class="form-control" formControlName="id">

                      <input type="text" pInputText id="codigo_obra" class="form-control" placeholder="CGDE-00000000"
                        formControlName="codigo_obra" [readonly]="codigoEmergencia">

                      <label htmlFor="codigo_obra">Código de Obra</label>
                    </span>
                  </div>
                </div>

                <div class="col-4">
                  <div class="form-group p-field custom-spacing">
                    <span class="p-float-label">
                      <input type="text" pInputText id="nombre_obra" class="form-control" formControlName="nombre_obra">
                      <label htmlFor="nombre_obra">Nombre de la Obra</label>
                    </span>
                  </div>
                </div>

                <!-- <div class="col-4">
                  <div class="form-group p-field custom-spacing">
                    <span class="p-float-label">
                      <input type="text" pInputText id="numero_ot" class="form-control" formControlName="numero_ot">
                      <label htmlFor="numero_ot">Número de OT</label>
                    </span>
                  </div>
                </div> -->

                <div class="col-4">
                  <div class="form-group p-field custom-spacing">
                    <span class="p-float-label">
                      <p-dropdown formControlName="segmento" id="segmento" class="form-control" [options]="segmento"
                        optionLabel="nombre" placeholder="Seleccionar"></p-dropdown>
                      <label htmlFor="segmento">Segmento</label>
                    </span>
                  </div>
                </div>

                <div class="col-4">
                  <div class="form-group p-field custom-spacing">
                    <span class="p-float-label">
                      <input type="text" pInputText id="gestor_cliente" class="form-control"
                        formControlName="gestor_cliente">
                      <label htmlFor="gestor_cliente">Gestor de Cliente</label>
                    </span>
                  </div>
                </div>

                <div class="col-4">
                  <div class="form-group p-field custom-spacing">
                    <span class="p-float-label">
                      <input type="text" pInputText id="numero_aviso" class="form-control"
                        formControlName="numero_aviso">
                      <label htmlFor="numero_aviso">Número de Aviso</label>
                    </span>
                  </div>
                </div>

                <div class="col-4">
                  <div class="form-group p-field custom-spacing">
                    <span class="p-float-label">
                      <input type="text" pInputText id="numero_oc" class="form-control" formControlName="numero_oc">
                      <label htmlFor="numero_oc">Número de OC</label>
                    </span>
                  </div>
                </div>

                <!-- <div class="col-4">
                  <div class="form-group p-field custom-spacing">
                    <span class="p-float-label">
                      <input type="text" pInputText id="monto" class="form-control" formControlName="monto">
                      <label htmlFor="monto">Monto</label>
                    </span>
                  </div>
                </div> -->

                <div class="col-4">
                  <div class="form-group p-field custom-spacing">
                    <span class="p-float-label">
                      <p-dropdown formControlName="tipo_trabajo" id="tipo_trabajo" class="form-control"
                        [options]="tipotrabajos" optionLabel="descripcion" placeholder="Seleccionar"></p-dropdown>
                      <label htmlFor="tipo_trabajo">Tipo de Trabajo</label>
                    </span>
                  </div>
                </div>

                <div class="col-4">
                  <div class="form-group p-field custom-spacing">
                    <span class="p-float-label">
                      <input type="text" pInputText id="cantidad_uc" class="form-control" formControlName="cantidad_uc">
                      <label htmlFor="cantidad_uc">Cantidad UC</label>
                    </span>
                  </div>
                </div>

                <div class="col-4">
                  <div class="form-group p-field custom-spacing">
                    <span class="p-float-label">
                      <p-dropdown formControlName="oficina" id="oficina" class="form-control"
                        [options]="oficinaSupervisor" optionLabel="oficina" placeholder="Seleccionar"></p-dropdown>
                      <label htmlFor="oficina">Oficina</label>
                    </span>
                  </div>
                </div>

                <div class="col-4">
                  <div class="form-group p-field custom-spacing">
                    <span class="p-float-label">
                      <p-dropdown formControlName="recargo_distancia" id="recargo_distancia" class="form-control"
                        [options]="recargoPorDistancia" optionLabel="nombre" placeholder="Seleccionar"></p-dropdown>
                      <label htmlFor="recargo_distancia">Recargo distancia</label>
                    </span>
                  </div>
                </div>

                <div class="col-4">
                  <div class="form-group p-field custom-spacing">
                    <span class="p-float-label">
                      <input type="text" pInputText id="jefe_delegacion" class="form-control"
                        formControlName="jefe_delegacion">
                      <label htmlFor="jefe_delegacion">Jefe delegacion</label>
                    </span>
                  </div>
                </div>

              </div>

            </p-tabPanel>
            
            <p-tabPanel header="Fechas y Responsables">

              <div class="grid" style="height:100px;margin-top:2%;">



                <div class="col-4">

                  <div class="form-group p-field custom-spacing">
                    <div class="calendar-container">
                      <span class="p-float-label">
                        <p-calendar id="fecha_llegada" formControlName="fecha_llegada" class="form-control"
                          [showIcon]="true"></p-calendar>
                        <label htmlFor="fecha_llegada">Fecha de asignación</label>
                      </span>
                    </div>
                  </div>

                </div>

                <div class="col-4">
                  <div class="form-group p-field custom-spacing">
                    <div class="calendar-container">
                      <span class="p-float-label">
                        <p-calendar id="fecha_inicio" formControlName="fecha_inicio" class="form-control"
                          [showIcon]="true"></p-calendar>
                        <label htmlFor="fecha_inicio">Fecha de Inicio</label>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="col-4">
                  <div class="form-group p-field custom-spacing">
                    <div class="calendar-container">
                      <span class="p-float-label">
                        <p-calendar id="fecha_termino" formControlName="fecha_termino" class="form-control"
                          [showIcon]="true"></p-calendar>
                        <label htmlFor="fecha_termino">Fecha de Término</label>
                      </span>
                    </div>
                  </div>
                </div>



                <!-- <div class="col-4">
                  <div class="form-group p-field custom-spacing">
                    <span class="p-float-label">
                      <input type="text" pInputText id="persona_envia_info" class="form-control"
                        formControlName="persona_envia_info">
                      <label htmlFor="persona_envia_info">Persona que Envía la Información</label>
                    </span>
                  </div>
                </div> -->

                <!-- <div class="col-4">
                  <div class="form-group p-field custom-spacing">
                    <span class="p-float-label">
                      <input type="text" pInputText id="cargo_persona_envia_info" class="form-control"
                        formControlName="cargo_persona_envia_info">
                      <label htmlFor="cargo_persona_envia_info">Cargo de la Persona que Envía</label>
                    </span>
                  </div>
                </div> -->

                <div class="col-4">
                  <div class="form-group p-field custom-spacing">
                    <span class="p-float-label">
                      <p-dropdown formControlName="empresa_contratista" class="form-control" id="empresa_contratista"
                        [options]="empresacontratistas" optionLabel="nombre" placeholder="Seleccionar"></p-dropdown>
                      <label htmlFor="empresa_contratista">Empresa Contratista</label>
                    </span>
                  </div>
                </div>

                <div class="col-4">
                  <div class="form-group p-field custom-spacing">
                    <span class="p-float-label">
                      <p-dropdown formControlName="coordinador_contratista" class="form-control"
                        id="coordinador_contratista" [options]="coordinadorcontratistas" optionLabel="nombre"
                        placeholder="Seleccionar"></p-dropdown>
                      <label htmlFor="coordinador_contratista">Coordinador Contratista</label>
                    </span>
                  </div>
                </div>

              </div>

            </p-tabPanel>
            
            <p-tabPanel header="Ubicación">

              <div class="grid" style="height:100px;margin-top:2%;">

                <div class="col-4">
                  <div class="form-group p-field custom-spacing">
                    <span class="p-float-label">
                      <p-dropdown formControlName="comuna" id="comuna" class="form-control" [options]="comuna"
                        optionLabel="nombre" placeholder="Seleccionar"></p-dropdown>
                      <label htmlFor="comuna">Comuna</label>
                    </span>
                  </div>
                </div>

                <div class="col-4">
                  <div class="form-group p-field custom-spacing">
                    <span class="p-float-label">
                      <input type="text" pInputText id="ubicacion" class="form-control" formControlName="ubicacion">
                      <label htmlFor="ubicacion">Ubicación</label>
                    </span>
                  </div>
                </div>

                <div class="col-4">
                  <div class="form-group p-field custom-spacing">
                    <span class="p-float-label">
                      <p-dropdown formControlName="zona" id="zona" class="form-control" [options]="zonas"
                        optionLabel="nombre" placeholder="Seleccionar"></p-dropdown>
                      <label htmlFor="zona">Zona</label>
                    </span>
                  </div>
                </div>

                <div class="col-4">
                  <div class="form-group p-field custom-spacing">
                    <span class="p-float-label">
                      <p-dropdown formControlName="delegacion" class="form-control" id="delegacion"
                        [options]="delegacion" optionLabel="nombre" placeholder="Seleccionar"></p-dropdown>
                      <label htmlFor="delegacion">Delegación</label>
                    </span>
                  </div>
                </div>


                <div class="col-4">

                </div>

              </div>

            </p-tabPanel>

            <p-tabPanel header="Paralizar" *ngIf="mostrarTabParalizarObra" >

              <form [formGroup]="paralizarForm">

                <div class="grid" style="height:100px;margin-top:2%;">

                  <input type="hidden" pInputhidden id="id_obra" class="form-control" formControlName="id_obra">

                  <div class="col-12" *ngIf="paralizarForm.get('responsable').value" >
                    <div class="form-group p-field custom-spacing">
                      <span class="p-float-label">
                        <input type="text" [readonly]="true" pInputText id="responsable" class="form-control"
                          formControlName="responsable">
                        <label htmlFor="responsable">Responsable</label>
                      </span>
                    </div>
                  </div>

                  <div class="col-4">
                    <div class="form-group p-field custom-spacing">
                      <div class="calendar-container">
                        <span class="p-float-label">
                            <p-calendar id="fecha_hora" formControlName="fecha_hora" class="form-control" [showIcon]="true"></p-calendar>
                            <label htmlFor="fecha_hora">Fecha cuando se paraliza la obra</label>
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="form-group p-field custom-spacing">
                      <span class="p-float-label">
                        <input type="text" pInputText id="ubicacion" class="form-control" formControlName="motivo">
                        <label htmlFor="ubicacion">Motivo</label>
                      </span>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="form-group p-field custom-spacing">
                      <span class="p-float-label">
                        <textarea id="observacion" pInputTextarea formControlName="observacion"></textarea>
                        <label for="observacion">Observación</label>
                      </span>
                    </div>
                  </div>

                  <div class="col-4"></div>
                  <div class="col-4">

                    <button pButton pRipple *ngIf="mostrarParalizarObra" label="Paralizar Obra" [loading]="loading_Paraliza" (click)="onParalizarObraClick()"
                      [disabled]="paralizarForm.invalid"
                      class="p-button-rounded p-button-warning p-button-outlined p-mt-5">
                    </button>

                  </div>
                  <div class="col-4"></div>

                </div>

              </form>
            </p-tabPanel>

            <p-tabPanel header="Finalización Faena" *ngIf="mostrarTabCerradoObra" >

              <form [formGroup]="cerrar_Obra_Form">
          
                  <div class="grid" style="height:100px;margin-top:2%;" >
          
                    <input type="hidden" pInputText id="id" class="form-control" formControlName="id" />
          
                    <input type="hidden" pInputText id="id_obra" class="form-control" formControlName="id_obra" />
          
                    <div class="col-4">
                        <div class="calendar-container">
                          <span class="p-float-label">
                            <p-calendar id="fecha_hora" formControlName="fecha_hora" class="form-control"
                              [showIcon]="true"></p-calendar>
                            <label htmlFor="fecha_hora">Fecha cuando se cierra la obra</label>
                          </span>
                        </div>
                    </div>
          
                      <div class="col-4">
                        <div class="form-group p-field custom-spacing">
                          <span class="p-float-label">
                            <input type="text" pInputText id="supervisor_responsable" class="form-control"
                              formControlName="supervisor_responsable">
                            <label htmlFor="supervisor_responsable">Supervisor Responsable</label>
                          </span>
                        </div>
                      </div>
          
                    <div class="col-4">
                      <div class="form-group p-field custom-spacing">
                        <span class="p-float-label">
                          <input type="text" pInputText id="coordinador_responsable" class="form-control"
                            formControlName="coordinador_responsable">
                          <label htmlFor="coordinador_responsable">Coordinador Responsable</label>
                        </span>
                      </div>
                    </div>
          
                    <div class="col-12">
                      <div class="form-group p-field custom-spacing">
                        <span class="p-float-label">
                          <input type="text" pInputText id="ito_mandante" class="form-control" formControlName="ito_mandante">
                          <label htmlFor="ito_mandante">Ito Mandante</label>
                        </span>
                      </div>
                    </div>
          
                    <div class="col-12">
                      <div class="form-group p-field custom-spacing">
                        <span class="p-float-label">
                          <textarea id="observacion" pInputTextarea formControlName="observacion"></textarea>
                          <label for="observacion">Observación</label>
                        </span>
                      </div>
                    </div>
          
                    <div class="col-4"></div>
                    <div class="col-4">
          
                      <button pButton pRipple *ngIf="mostrarBottonCerrarObra" label="Cerrar Obra" [loading]="loading_cerrar_Obra_Form"
                        (click)="onCerrarObraClick()" [disabled]="cerrar_Obra_Form.invalid"
                        class="p-button-rounded p-button-warning p-button-outlined p-mt-5">
                      </button>
          
                    </div>
                    <div class="col-4"></div>
          
                  </div>
          
              </form>

            </p-tabPanel>

          </p-tabView>
        </div>

        <div class="grid flex  justify-content-center" style="height:80px;margin-top:5%;">
          <div class="col-4"></div>
          <div class="col-4">

            <button *ngIf="mostrarGuardar" pButton pRipple label="Guardar" (click)="onGuardarClick()" visible="false"
              [loading]="loading" [disabled]="obraForm.invalid"
              class="p-button-rounded p-button-outlined p-mt-5"></button>

            <button *ngIf="mostrarActualizar" pButton pRipple label="Actualizar" (click)="onActualizarClick()"
              [loading]="loading" [disabled]="obraForm.invalid"
              class="p-button-rounded p-button-success p-button-outlined p-mt-10"></button>

          </div>
          <div class="col-4"></div>
        </div>

      </form>

    </ng-template>

  </p-dialog>

  <p-confirmDialog [style]="{ width: '650px' }"></p-confirmDialog>

</p-card>