<p-card header="Modulo de Turnos">
    <div class="card">
        <p-toast></p-toast>
        <p-toolbar styleClass="mb-4 gap-2">
            <ng-template pTemplate="left">

                <!-- <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button> -->

                <button pButton pRipple label="Ingresar Turno" icon="pi pi-plus" class="p-button-success mr-2"
                    (click)="openNew()"></button>

            </ng-template>
            <ng-template pTemplate="right">
                <!-- <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button> -->

                <button pButton pRipple label="Exportar a Excel" icon="pi pi-upload" class="p-button-help"
                    (click)="exportToExcel1()"></button>

            </ng-template>
        </p-toolbar>


        <p-table #dt [value]="turnos" [columns]="cols" [rows]="10" [paginator]="true" selectionMode="single" styleClass="p-datatable-gridlines p-datatable-striped p-datatable-header"
            [globalFilterFields]="['nombre_maestro','nombre_ayudante','brigada','tipo_turno','patente','km_inicial','km_final','fecha_hora_ini','fecha_hora_fin']"
            [tableStyle]="{ 'min-width': '45rem' }" responsiveLayout="scroll" [rowHover]="true" dataKey="id"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true">

            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                    <h4 class="m-0">Listado de Turnos</h4>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                            placeholder="Search..." />
                    </span>
                </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="id">
                        <div style="width: auto; white-space: nowrap;">
                            Id <p-sortIcon field="id"></p-sortIcon>
                        </div>
                    </th>

                    <th pSortableColumn="nombre_maestro">
                        <div style="width: auto; white-space: nowrap;">
                            Maestro<p-sortIcon field="nombre_maestro"></p-sortIcon>
                        </div>
                    </th>

                    <th pSortableColumn="nombre_ayudante">
                        <div style="width: auto; white-space: nowrap;">
                            Ayudante <p-sortIcon field="nombre_ayudante"></p-sortIcon>
                        </div>
                    </th>

                    <th pSortableColumn="brigada">
                        <div style="width: auto; white-space: nowrap;">
                            Turno <p-sortIcon field="brigada"></p-sortIcon>
                        </div>
                    </th>

                    <th pSortableColumn="tipo_turno">
                        <div style="width: auto; white-space: nowrap;">
                            Tipo Turno <p-sortIcon field="tipo_turno"></p-sortIcon>
                        </div>
                    </th>

                    <th pSortableColumn="patente">
                        <div style="width: auto; white-space: nowrap;">
                            Patente <p-sortIcon field="patente"></p-sortIcon>
                        </div>
                    </th>

                    <th pSortableColumn="km_inicial">
                        <div style="width: auto; white-space: nowrap;">
                            Km inicial<p-sortIcon field="km_inicial"></p-sortIcon>
                        </div>
                    </th>

                    <th pSortableColumn="km_final">
                        <div style="width: auto; white-space: nowrap;">
                            Km final<p-sortIcon field="km_final"></p-sortIcon>
                        </div>
                    </th>

                    <th pSortableColumn="fecha_hora_ini">
                        <div style="width: auto; white-space: nowrap;">
                            Inicio <p-sortIcon field="fecha_hora_ini"></p-sortIcon>
                        </div>
                    </th>

                    <th pSortableColumn="fecha_hora_fin">
                        <div style="width: auto; white-space: nowrap;">
                            Fin<p-sortIcon field="fecha_hora_fin"></p-sortIcon>
                        </div>
                    </th>

                    <th> <div style="width: auto; white-space: nowrap;">Edit </div></th>
                    <th> <div style="width: auto; white-space: nowrap;"> Elim </div></th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-turno>
                <tr [pSelectableRow]="turno" >

                    <td class="font-bold"> <span class="p-column-title">Id</span> {{ turno.id }}</td>

                    <td> <span class="p-column-title">Maestro</span> {{ turno.nombre_maestro }}</td>

                    <td> <span class="p-column-title">Ayudante</span> {{ turno.nombre_ayudante }}</td>

                    <td> <span class="p-column-title">Turno</span> {{ turno.brigada }}</td>

                    <td> <span class="p-column-title">Tipo Turno</span> {{ turno.tipo_turno }}</td>

                    <td> <span class="p-column-title">Patente</span> {{ turno.patente }}</td>

                    <td> <span class="p-column-title">Km inicial</span> {{ turno.km_inicial }}</td>

                    <td> <span class="p-column-title">Km final</span> {{ turno.km_final }}</td>

                    <td> <span class="p-column-title">Inicio</span> {{ filtrarFecha(turno.fecha_hora_ini) }}</td>

                    <td> <span class="p-column-title">Fin</span> {{ filtrarFecha(turno.fecha_hora_fin) }}</td>

                    <td>
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                            (click)="editTurno(turno)"></button>
                    </td>
                    <td>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                            (click)="onEliminarClick(turno)"></button>
                    </td>

                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">In total there are {{ turnos ?
                    turnos.length : 0 }}
                    Turnos.</div>
            </ng-template>
        </p-table>
    </div>




    <p-dialog [(visible)]="turnoDialog" [style]="{ width: '800px' , height: '650px' }" header="{{ titulo_formulario }}"
        [modal]="true" styleClass="p-fluid">

        <ng-template pTemplate="content">

            <form [formGroup]="TurnosForm">

                <h1>{{IDTURNO}}</h1>

                <hr>

                <input type="hidden" pInputhidden id="id" class="form-control" formControlName="id">


                <div class="grid" style="margin-top:1%;">
                    <div class="col-4">
                        <span class="p-float-label">
                            <p-calendar id="fecha_hora_ini" formControlName="fecha_hora_ini" class="form-control"
                                dateFormat="dd-mm-yy" [showIcon]="true" [showTime]="true"></p-calendar>
                            <label htmlFor="fecha_hora_ini">Fecha y Hora Inicio</label>
                        </span>
                    </div>
                    <div class="col-4">
                        <span class="p-float-label">
                            <p-calendar id="fecha_hora_fin" formControlName="fecha_hora_fin" class="form-control"
                                dateFormat="dd-mm-yy" [showIcon]="true" [showTime]="true"></p-calendar>

                            <label htmlFor="fecha_hora_fin">Fecha y Hora Final</label>
                        </span>
                    </div>
                    <div class="col-4">

                    </div>
                </div>



                <div class="grid" style="margin-top:1%;">
                    <div class="col-6">

                        <span class="p-float-label">
                            <p-dropdown formControlName="obj_brigada" id="brigada" class="form-control"
                                [options]="lista_objs_brigadas" optionLabel="brigada"
                                placeholder="Seleccionar"></p-dropdown>
                            <label htmlFor="brigada">Turno</label>
                        </span>

                    </div>
                    <div class="col-6">

                        <span class="p-float-label">
                            <p-dropdown formControlName="obj_tipo_turno" id="tipo_turno" class="form-control"
                                [options]="lista_objs_tipoTurno" optionLabel="nombre"
                                placeholder="Seleccionar"></p-dropdown>
                            <label htmlFor="tipo_turno">Tipo Turno</label>
                        </span>

                    </div>
                </div>


                <div class="grid" style="margin-top:1%;">
                    <div class="col-6">

                        <span class="p-float-label">
                            <p-dropdown formControlName="obj_maestro" id="nombre_maestro" class="form-control"
                                [options]="lista_objs_maestros" optionLabel="nombre"
                                placeholder="Seleccionar"></p-dropdown>
                            <label htmlFor="nombre_maestro">Nombre Maestro</label>
                        </span>

                    </div>
                    <div class="col-6">

                        <span class="p-float-label">
                            <p-dropdown formControlName="obj_ayudante" id="nombre_ayudante" class="form-control"
                                [options]="lista_objs_ayudantes" optionLabel="nombre"
                                placeholder="Seleccionar"></p-dropdown>
                            <label htmlFor="nombre_ayudante">Nombre Ayudante</label>
                        </span>

                    </div>
                </div>



                <div class="grid" style="margin-top:1%;">
                    <div class="col-4">

                        <span class="p-float-label">
                            <p-dropdown formControlName="obj_camionetas" id="camionetas" class="form-control"
                                [options]="lista_objs_camionetas" optionLabel="patente"
                                placeholder="Seleccionar"></p-dropdown>
                            <label htmlFor="camionetas">Camionetas</label>
                        </span>

                    </div>
                    <div class="col-4">

                        <span class="p-float-label">
                            <input type="number" pInputText id="km_inicial" class="form-control"
                                formControlName="km_inicial">
                            <label htmlFor="km_inicial">Km Inicial</label>
                        </span>

                    </div>
                    <div class="col-4">

                        <span class="p-float-label">
                            <input type="number" pInputText id="km_final" class="form-control"
                                formControlName="km_final">
                            <label htmlFor="km_final">Km Final</label>
                        </span>

                    </div>
                </div>


                <div class="grid" style="margin-top:10%;">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <button *ngIf="mostrarGuardar" pButton pRipple label="Guardar" (click)="onGuardarClick()"
                            visible="false" [loading]="loading" [disabled]="TurnosForm.invalid"
                            class="p-button-rounded p-button-outlined p-mt-10"></button>

                        <button *ngIf="mostrarActualizar" pButton pRipple label="Actualizar"
                            (click)="onActualizarClick()" [loading]="loading" [disabled]="TurnosForm.invalid"
                            class="p-button-rounded p-button-success p-button-outlined p-mt-10"></button>
                    </div>
                    <div class="col-3"></div>
                </div>

            </form>

        </ng-template>

        <!-- <ng-template pTemplate="footer">
      <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
      <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
    </ng-template> -->

    </p-dialog>


    <p-confirmDialog [style]="{ width: '650px' }"></p-confirmDialog>

</p-card>