body {
    font-family: "Times New Roman", serif;
    color: #000;
}

.grid1 {
    display: flex;
}

.col1 {
    flex: 1;
    /* border-color: #000;
    border-style: solid;
    border-width: 1px; */
}

.col1 {
    flex: 1;
    margin: 0 10px;
    text-align: left;
    /* Alinea el texto a la izquierda */
}

.logo-col {
    /* flex-basis: 80px; */
    /* Ancho fijo para la columna del logo */
    align-items: left;
}

.logo-col img {
    width: 180px;
    height: 30px;
}

.title-col {
    color: black;
}

.titu1 {
    padding-left: 2%;
    padding-top: 1%;
}



.date-col {
    font-size: 12px;
    text-align: right;
    /* Alinea el texto a la derecha */
}


table {
    font-family: "Times New Roman", serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 10px;
}




body {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    /* Asegura que el cuerpo ocupe al menos el 100% de la altura de la ventana */
}

.footer1 {
    display: flex;
    justify-content: space-around;
    margin-top: auto;
    /* Empuja el footer hacia la parte inferior */
}

.grid1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    /* Ajusta según sea necesario */
}

.col1 {
    text-align: center;
    font-size: 9px;
    padding: 0%;
}




.grid2 {
    display: grid;
    grid-template-columns: 30% auto 1%;
    margin: 20px;
    /* Ajusta según sea necesario */
}

.col2 {
    padding: 10px;
    /* Ajusta según sea necesario */
}

/* Opcional: Si deseas que la tabla tenga un ancho máximo */
.table2 {
    max-width: 100%;
    /* Ajusta según sea necesario */
}

/* Opcional: Estilos adicionales para la tabla */
.table2 {
    border-collapse: collapse;
    width: 100%;
}

.table2 th,
td {
    border: 1px solid black;
}


.aling-dinero {    
    font-size:9px;
    padding-right:10%;
}



.grid3 {
    display: grid;
    grid-template-columns:5% auto auto 1%;
    margin: 10px;
    /* Ajusta según sea necesario */
}

.col3 {
    padding: 5px;
    /* Ajusta según sea necesario */
}

/* Opcional: Si deseas que las tablas tengan un ancho máximo */
.table3 {
    max-width: 100%;
    /* Ajusta según sea necesario */
}

/* Opcional: Estilos adicionales para las tablas */
.table3 {
    border-collapse: collapse;
    width: 100%;
}

.table3 th,
td {
    border: 1px solid black;
}




hr.custom-style {
    border: none;
    height: 2px;
    background-color: #333;
    margin: 20px 0;
  }

  

