<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">

            <p-toast></p-toast>

            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">

                        <div class="flex flex-row flex-wrap">
                            <div class="flex align-items-center justify-content-center">

                                <div class="form-group">
                                    <p-dropdown [options]="paquetes" [(ngModel)]="selectedPaquete" optionLabel="name"
                                        placeholder="Paquete"></p-dropdown>
                                </div>


                            </div>
                            <div class="flex align-items-center justify-content-center my-2 mx-2">

                            </div>
                            <div class="flex align-items-center justify-content-center">

                                <button pButton pRipple label="Consultar" icon="pi pi-check" class="p-button-success"
                                    (click)="ConsultarEstadoResultado()"></button>

                            </div>
                        </div>



                    </div>
                </ng-template>
                <ng-template pTemplate="right">

                    <!-- <button pButton pRipple label="Exportar a CSV" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button> -->

                    <button pButton pRipple label="Exportar a Excel" icon="pi pi-upload" class="p-button-help"
                        (click)="exportToExcel1()"></button>

                </ng-template>
            </p-toolbar>


            <p-table #dt [value]="ListDetallepxq" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['fecha','hora_termino','centrality','maestro','ayudante','patente','despachador','comuna','direccion','trabajo_solicitado','trabajo_realizado','descripcion','valor_cobrar']"
                [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [(selection)]="selectedEstadoResultado" selectionMode="multiple" [rowHover]="true" dataKey="id">

                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Detalle PXQ</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                         
                        <!-- <th style="width:50px" pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th> -->

                        <th pSortableColumn="despachador">
                            <div style="width: auto; white-space: nowrap;">
                                Despachador <p-sortIcon field="despachador"></p-sortIcon>
                            </div>
                        </th>

                        <th pSortableColumn="centrality">
                            <div style="width: auto; white-space: nowrap;">
                                N° OT <p-sortIcon field="centrality"></p-sortIcon>
                            </div>
                        </th>

                        <th pSortableColumn="direccion">
                            <div style="width: auto; white-space: nowrap;">
                                Dirección <p-sortIcon field="direccion"></p-sortIcon>
                            </div>
                        </th>

                        <th pSortableColumn="comuna">
                            <div style="width: auto; white-space: nowrap;">
                                Comuna <p-sortIcon field="comuna"></p-sortIcon>
                            </div>
                        </th>
                        

                        
                        <th pSortableColumn="trabajo_solicitado">
                            <div style="width: auto; white-space: nowrap;">
                                Trabajo Solicitado <p-sortIcon field="trabajo_solicitado"></p-sortIcon>
                            </div>
                        </th>

                        <th pSortableColumn="trabajo_realizado">
                            <div style="width: auto; white-space: nowrap;">
                                Trabajo Realizado <p-sortIcon field="trabajo_realizado"></p-sortIcon>
                            </div>
                        </th>

                        
                        <th pSortableColumn="descripcion">
                            <div style="width: auto; white-space: nowrap;">
                                Evento <p-sortIcon field="descripcion"></p-sortIcon>
                            </div>
                        </th>

                        <th pSortableColumn="maestro">
                            <div style="width: auto; white-space: nowrap;">
                                Maestro <p-sortIcon field="maestro"></p-sortIcon>
                            </div>
                        </th>

                        <th pSortableColumn="ayudante">
                            <div style="width: auto; white-space: nowrap;">
                                Ayudante <p-sortIcon field="ayudante"></p-sortIcon>
                            </div>
                        </th>

                        <th pSortableColumn="patente">
                            <div style="width: auto; white-space: nowrap;">
                                Patente <p-sortIcon field="patente"></p-sortIcon>
                            </div>
                        </th>

                        <th pSortableColumn="fecha">
                            <div style="width: auto; white-space: nowrap;">
                                Fecha <p-sortIcon field="fecha"></p-sortIcon>
                            </div>
                        </th>


                        <th pSortableColumn="hora_termino">
                            <div style="width: auto; white-space: nowrap;">
                                Hora término <p-sortIcon field="hora_termino"></p-sortIcon>
                            </div>
                        </th>
                        
                        <th pSortableColumn="valor_cobrar">
                            <div style="width: auto; white-space: nowrap;">
                                VALOR <p-sortIcon field="valor_cobrar"></p-sortIcon>
                            </div>
                        </th>
                        <!-- <th></th> -->
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-estadoResultado>
                    <tr>

                        <!-- <td style="width:50px" >
                            <span class="p-column-title">id</span>
                            {{estadoResultado.id}}
                        </td> -->

                        <td>
                            <span class="p-column-title">despachador</span>
                            {{estadoResultado.despachador}}
                        </td>

                        <td>
                            <span class="p-column-title">centrality</span>
                            {{estadoResultado.centrality}}
                        </td>

                        <td>
                            <span class="p-column-title">direccion</span>
                            {{estadoResultado.direccion}}
                        </td>

                        <td>
                            <span class="p-column-title">comuna</span>
                            {{estadoResultado.comuna}}
                        </td>

                        <td>
                            <span class="p-column-title">trabajo_solicitado</span>
                            {{estadoResultado.trabajo_solicitado}}
                        </td>

                        <td>
                            <span class="p-column-title">trabajo_realizado</span>
                            {{estadoResultado.trabajo_realizado}}
                        </td>
                        
                        <td>
                            <span class="p-column-title">descripcion</span>
                            {{estadoResultado.descripcion}}
                        </td>

                        <td>
                            <span class="p-column-title">maestro</span>
                            {{estadoResultado.maestro}}
                        </td>

                        <td>
                            <span class="p-column-title">ayudante</span>
                            {{estadoResultado.ayudante}}
                        </td>

                        <td>
                            <span class="p-column-title">patente</span>
                            {{estadoResultado.patente}}
                        </td>

                        <td>
                            <span class="p-column-title">fecha</span>
                            {{estadoResultado.fecha}}
                        </td>

                        <td>
                            <span class="p-column-title">hora_termino</span>
                            {{estadoResultado.hora_termino}}
                        </td>

                        <td>
                            <span class="p-column-title">valor_cobrar</span>
                            {{estadoResultado.valor_cobrar}}
                        </td>

                    </tr>
                </ng-template>

            </p-table>
        </div>

        <!-- <p-dialog  id="myDialog" [(visible)]="productDialog" [style]="{width: '550px' }" [contentStyle]="{ height: '550px' }" header="Consultar Estado de Pago" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">

            <div class="dialog-content">

                <div class="field">
                    <p-dropdown [options]="clientes" [(ngModel)]="selectedCliente" optionLabel="name" placeholder="Cliente" ></p-dropdown>
                </div>

                <div class="field">
                    <p-dropdown [options]="zonas" [(ngModel)]="selectedZona" optionLabel="name" placeholder="Zona" ></p-dropdown>
                </div>

                <div class="field">
                    <p-dropdown [options]="paquetes" [(ngModel)]="selectedPaquete" optionLabel="name" placeholder="Paquete" ></p-dropdown>
                </div>

                <div class="field">
                    <p-dropdown [options]="meses" [(ngModel)]="selectedMes" optionLabel="name" placeholder="Mes" ></p-dropdown>
                </div>

                <div class="formgrid grid">
                    <div class="field col">
                        <label for="price">Fecha Inicio</label>
                        <p-calendar [(ngModel)]="FechaInicio" [showIcon]="true"></p-calendar>
                    </div>
                    <div class="field col">
                        <label for="quantity">Fecha Final</label>
                        <p-calendar [(ngModel)]="FechaFinal" [showIcon]="true"></p-calendar>
                    </div>
                </div>
            
            </div>

            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Consultar" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
            </ng-template>

        </p-dialog> -->

        <!-- <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="product">Are you sure you want to delete <b>{{product.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog> -->

        <!-- <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected products?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog> -->
    </div>
</div>